<!DOCTYPE HTML>
<html>
	<head>
		<title>FOUND - Geocaching Jeux de Sophia 2015</title>
		<% include ./partials/head %>
	</head>
	<body class="homepage">

		<!-- Header Wrapper -->
			<div class="wrapper style1">
			
			<!-- Header -->
				<div id="header">
					<div class="container">
							
						<!-- Logo -->
							<h1><a href="/" id="logo">Géocaching</a></h1>
						
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a href="/">Accueil</a></li>
								</ul>
							</nav>
	
					</div>
				</div>
				
			</div>
		
		
		<!-- Section Two -->
			<div class="wrapper style3">
				<section class="container">
					<header class="major">
						<h2><%= message %></h2>
					</header>
					<a href="/" class="button alt">Retour</a>
   				</section>
			</div>

		

	<!-- Footer -->
		<div id="footer">
					
		</div>

	</body>
</html>