	<!DOCTYPE HTML>
	<html>
		<head>
			<title>LISTE DES CACHES - Géocaching Jeux de Sophia 2015</title>
			<meta http-equiv="content-type" content="text/html; charset=utf-8" />
			<meta name="description" content="Geocaching Jeux de Sophia 2015<" />
			<meta name="keywords" content="Geocaching" />
			<meta name="geo.position" content="43.6145145; 7.0548945" />
			<meta name="ICBM" content="43.6145145, 7.0548945" />
			<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/skel-layers.min.js"></script>
			<script src="js/init.js"></script>
			<noscript>
				<link rel="stylesheet" href="css/skel.css" />
				<link rel="stylesheet" href="css/style.css" />
				<link rel="stylesheet" href="css/grid.css" />
			</noscript>

			<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
			<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-63609133-1', 'auto');
	  ga('send', 'pageview');

	</script>
		</head>
		<body>

			<!-- Header Wrapper -->
				<div class="wrapper style1">
				
				<!-- Header -->
					<div id="header">
						<div class="container">
								
							<!-- Logo -->
								<h1><a href="/" id="logo">Géocaching</a></h1>
							
							<!-- Nav -->
								<nav id="nav">
									<ul>
										<li><a href="/">Accueil</a></li>
										<li class="active"><a href="/geocaches">Les Caches à trouver</a></li>
										<li><a href="/geocaching">Régles du jeu</a></li>
										<li><a href="/tools">Les Outils</a></li>
									</ul>
								</nav>
		
						</div>
					</div>
				</div>
			
				<div id="main" class="wrapper style4">

					<!-- Content -->
					<div id="content" class="container">
						<section>
							<header class="major">
								<h2>Liste des caches posées pour les Jeux de Sophia</h2>
								<span class="byline">Remise en main propre du listing dans un premier temps.</span>
							</header>
							<p>Pour le moment le listing des caches spécifiques posées uniquement pour les Jeux de Sophia (et donc non accessibles, ni même visibles sur le site geocaching.com) vous sera remis en mains propres les trois premiers mardis et jeudis midi du mois de Juin à la place Bermond.</p>
							<p><b>Des tickets de tombola seront aléatoirement placés par nos soins dans les différentes caches à découvrir.</b></p>
						</section>
					</div>
				</div>
					
				<div class="wrapper style2">

					<!-- Content -->
					<div id="content" class="container">
						<section>
							<ul class="cbp-rfgrid">
							    <% geocaches.forEach(function(geocache) { %>
							        <li><a href="/geocache?id=<%= geocache.id %>"><img width="120px;" src="<%= geocache.get("Photo").url() %>" />
							        	<div><h3><%= geocache.get("Nom") %></h3></div>
							        </a></li>
							    <% }); %>
							</ul>
						</section>
					</div>
				</div>

				<div class="wrapper style5">

					<!-- Content -->
					<div id="content" class="container">
						
						<section>
							<header class="major">
								<h2>Carte des emplacements</h2>
								<span class="byline">Les coordonnées GPS sont fournies dans le listing qui vous a été remis par les organisateurs</span>
							</header>

						</section>

						<script type="text/javascript">
				var google_api_key = ''; // Your project's Google Maps API key goes here (https://code.google.com/apis/console)
				document.writeln('<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&amp;libraries=geometry&amp;sensor=false&amp;'+((self.google_api_key&&document.location.toString().indexOf('file://')!=0)?'key='+google_api_key:'')+'"><'+'/script>');
			</script>
			
			<!--
				If you want to transplant this map into another Web page, by far the best method is to
				simply include it in a IFRAME tag (see http://www.gpsvisualizer.com/faq.html#google_html).
				But, if you must paste the code into another page, be sure to include all of these parts:
				   1. The "div" tags that contain the map and its widgets, below
				   2. Three sections of JavaScript code:
				      a. The Google code (maps.google.com or googleapis.com) code, above
				      b. "gv_options" and the code that calls a .js file on maps.gpsvisualizer.com
				      c. The "GV_Map" function, which contains all the geographic info for the map
			-->
			<div style="margin-left:0px; margin-right:0px; margin-top:0px; margin-bottom:0px;">
				<div id="gmap_div" style="width:800px; height:600px; margin:0px; margin-right:12px; background-color:#F0F0F0; float:left; overflow:hidden;">
					<p align="center" style="font:10px Arial;">This map was created using <a target="_blank" href="http://www.gpsvisualizer.com/">GPS Visualizer</a>'s do-it-yourself geographic utilities.<br /><br />Please wait while the map data loads...</p>
				</div>
					
				<div id="gv_infobox" class="gv_infobox" style="font:11px Arial; border:solid #666666 1px; background:#ffffff; padding:4px; overflow:auto; display:none; max-width:400px;">
					<!-- Although GPS Visualizer didn't create an legend/info box with your map, you can use this space for something else if you'd like; enable it by setting gv_options.infobox_options.enabled to true -->
				</div>



				<div id="gv_marker_list" class="gv_marker_list" style="background:#ffffff; overflow:auto; display:none;"><!-- --></div>

				<div id="gv_clear_margins" style="height:0px; clear:both;"><!-- clear the "float" --></div>
			</div>

			
			<!-- begin GPS Visualizer setup script (must come after maps.google.com code) -->
			<script type="text/javascript">
				/* Global variables used by the GPS Visualizer functions (20150602014204): */
				gv_options = {};
				
				// basic map parameters:
				gv_options.center = [43.6145145,7.0548945];  // [latitude,longitude] - be sure to keep the square brackets
				gv_options.zoom = 13;  // higher number means closer view; can also be 'auto' for automatic zoom/center based on map elements
				gv_options.map_type = 'GV_STREET';  // popular map_type choices are 'GV_STREET', 'GV_SATELLITE', 'GV_HYBRID', 'GV_TERRAIN', 'GV_TOPO_US', 'GV_TOPO_WORLD', 'GV_OSM'
				gv_options.map_opacity = 1.00;  // number from 0 to 1
				gv_options.full_screen = false;  // true|false: should the map fill the entire page (or frame)?
				gv_options.width = 800;  // width of the map, in pixels
				gv_options.height = 600;  // height of the map, in pixels
				
				gv_options.map_div = 'gmap_div';  // the name of the HTML "div" tag containing the map itself; usually 'gmap_div'
				gv_options.doubleclick_zoom = true;  // true|false: zoom in when mouse is double-clicked?
				gv_options.doubleclick_center = true;  // true|false: re-center the map on the point that was double-clicked?
				gv_options.mousewheel_zoom = true; // true|false; or 'reverse' for down=in and up=out
				gv_options.autozoom_adjustment = 0;
				gv_options.centering_options = { 'open_info_window':true, 'partial_match':true, 'center_key':'center', 'default_zoom':null } // URL-based centering (e.g., ?center=name_of_marker&zoom=14)
				gv_options.tilt = false; // true|false: allow Google to show 45-degree tilted aerial imagery?
				gv_options.street_view = false; // true|false: allow Google Street View on the map
				gv_options.animated_zoom = false; // true|false: may or may not work properly
					
				// widgets on the map:
				gv_options.zoom_control = 'large'; // 'large'|'small'|'none'
				gv_options.recenter_button = true; // true|false: is there a 'double-click to recenter' option in the zoom control?
				gv_options.scale_control = true; // true|false
				gv_options.center_coordinates = true;  // true|false: show a "center coordinates" box and crosshair?
				gv_options.mouse_coordinates = false;  // true|false: show a "mouse coordinates" box?
				gv_options.crosshair_hidden = true;  // true|false: hide the crosshair initially?
				gv_options.map_opacity_control = true;  // true|false
				gv_options.map_type_control = {};  // widget to change the background map
				  gv_options.map_type_control.style = 'menu';  // 'menu'|'none'
				  gv_options.map_type_control.filter = false;  // true|false: when map loads, are irrelevant maps ignored?
				  gv_options.map_type_control.excluded = [];  // comma-separated list of quoted map IDs that will never show in the list ('included' also works)
				gv_options.disable_google_pois = false;  // true|false: if you disable clickable POIs, you also lose the labels on parks, airports, etc.
				gv_options.measurement_tools = { visible:false, distance_color:'', area_color:'', position:[] };
				gv_options.infobox_options = {}; // options for a floating info box (id="gv_infobox"), which can contain anything
				  gv_options.infobox_options.enabled = true;  // true|false: enable or disable the info box altogether
				  gv_options.infobox_options.position = ['LEFT_TOP',76,6];  // [Google anchor name, relative x, relative y]
				  gv_options.infobox_options.draggable = true;  // true|false: can it be moved around the screen?
				  gv_options.infobox_options.collapsible = true;  // true|false: can it be collapsed by double-clicking its top bar?


				// marker-related options:
				gv_options.default_marker = { color:'red',icon:'googlemini',scale:1 }; // icon can be a URL, but be sure to also include size:[w,h] and optionally anchor:[x,y]
				gv_options.marker_tooltips = true; // do the names of the markers show up when you mouse-over them?
				gv_options.marker_shadows = true; // true|false: do the standard markers have "shadows" behind them?
				gv_options.marker_link_target = '_blank'; // the name of the window or frame into which markers' URLs will load
				gv_options.info_window_width = 0;  // in pixels, the width of the markers' pop-up info "bubbles" (can be overridden by 'window_width' in individual markers)
				gv_options.thumbnail_width = 0;  // in pixels, the width of the markers' thumbnails (can be overridden by 'thumbnail_width' in individual markers)
				gv_options.photo_size = [0,0];  // in pixels, the size of the photos in info windows (can be overridden by 'photo_width' or 'photo_size' in individual markers)
				gv_options.hide_labels = false;  // true|false: hide labels when map first loads?
				gv_options.labels_behind_markers = false; // true|false: are the labels behind other markers (true) or in front of them (false)?
				gv_options.label_offset = [0,0];  // [x,y]: shift all markers' labels (positive numbers are right and down)
				gv_options.label_centered = false;  // true|false: center labels with respect to their markers?  (label_left is also a valid option.)
				gv_options.driving_directions = false;  // put a small "driving directions" form in each marker's pop-up window? (override with dd:true or dd:false in a marker's options)
				gv_options.garmin_icon_set = 'gpsmap'; // 'gpsmap' are the small 16x16 icons; change it to '24x24' for larger icons
				gv_options.marker_list_options = {};  // options for a dynamically-created list of markers
				  gv_options.marker_list_options.enabled = false;  // true|false: enable or disable the marker list altogether
				  gv_options.marker_list_options.floating = true;  // is the list a floating box inside the map itself?
				  gv_options.marker_list_options.position = ['RIGHT_BOTTOM',6,38];  // floating list only: position within map
				  gv_options.marker_list_options.min_width = 160; // minimum width, in pixels, of the floating list
				  gv_options.marker_list_options.max_width = 160;  // maximum width
				  gv_options.marker_list_options.min_height = 0;  // minimum height, in pixels, of the floating list
				  gv_options.marker_list_options.max_height = 295;  // maximum height
				  gv_options.marker_list_options.draggable = true;  // true|false, floating list only: can it be moved around the screen?
				  gv_options.marker_list_options.collapsible = true;  // true|false, floating list only: can it be collapsed by double-clicking its top bar?
				  gv_options.marker_list_options.include_tickmarks = false;  // true|false: are distance/time tickmarks included in the list?
				  gv_options.marker_list_options.include_trackpoints = false;  // true|false: are "trackpoint" markers included in the list?
				  gv_options.marker_list_options.dividers = false;  // true|false: will a thin line be drawn between each item in the list?
				  gv_options.marker_list_options.desc = false;  // true|false: will the markers' descriptions be shown below their names in the list?
				  gv_options.marker_list_options.icons = true;  // true|false: should the markers' icons appear to the left of their names in the list?
				  gv_options.marker_list_options.thumbnails = false;  // true|false: should markers' thumbnails be shown in the list?
				  gv_options.marker_list_options.folders_collapsed = false;  // true|false: do folders in the list start out in a collapsed state?
				  gv_options.marker_list_options.folders_hidden = false;  // true|false: do folders in the list start out in a hidden state?
				  gv_options.marker_list_options.collapsed_folders = []; // an array of folder names
				  gv_options.marker_list_options.hidden_folders = []; // an array of folder names
				  gv_options.marker_list_options.count_folder_items = false;  // true|false: list the number of items in each folder?
				  gv_options.marker_list_options.wrap_names = true;  // true|false: should marker's names be allowed to wrap onto more than one line?
				  gv_options.marker_list_options.unnamed = '[unnamed]';  // what 'name' should be assigned to  unnamed markers in the list?
				  gv_options.marker_list_options.colors = false;  // true|false: should the names/descs of the points in the list be colorized the same as their markers?
				  gv_options.marker_list_options.default_color = '';  // default HTML color code for the names/descs in the list
				  gv_options.marker_list_options.limit = 0;  // how many markers to show in the list; 0 for no limit
				  gv_options.marker_list_options.center = false;  // true|false: does the map center upon a marker when you click its name in the list?
				  gv_options.marker_list_options.zoom = false;  // true|false: does the map zoom to a certain level when you click on a marker's name in the list?
				  gv_options.marker_list_options.zoom_level = 16;  // if 'zoom' is true, what level should the map zoom to?
				  gv_options.marker_list_options.info_window = true;  // true|false: do info windows pop up when the markers' names are clicked in the list?
				  gv_options.marker_list_options.url_links = false;  // true|false: do the names in the list become instant links to the markers' URLs?
				  gv_options.marker_list_options.toggle = false;  // true|false: does a marker disappear if you click on its name in the list?
				  gv_options.marker_list_options.help_tooltips = false;  // true|false: do "tooltips" appear on marker names that tell you what happens when you click?
				  gv_options.marker_list_options.id = 'gv_marker_list';  // id of a DIV tag that holds the list
				  gv_options.marker_list_options.header = ''; // HTML code; be sure to put backslashes in front of any single quotes, and don't include any line breaks
				  gv_options.marker_list_options.footer = ''; // HTML code
				gv_options.marker_filter_options = {};  // options for removing waypoints that are out of the current view
				  gv_options.marker_filter_options.enabled = false;  // true|false: should out-of-range markers be removed?
				  gv_options.marker_filter_options.movement_threshold = 8;  // in pixels, how far the map has to move to trigger filtering
				  gv_options.marker_filter_options.limit = 0;  // maximum number of markers to display on the map; 0 for no limit
				  gv_options.marker_filter_options.update_list = true;  // true|false: should the marker list be updated with only the filtered markers?
				  gv_options.marker_filter_options.sort_list_by_distance = false;  // true|false: should the marker list be sorted by distance from the center of the map?
				  gv_options.marker_filter_options.min_zoom = 0;  // below this zoom level, don't show any markers at all
				  gv_options.marker_filter_options.zoom_message = '';  // message to put in the marker list if the map is below the min_zoom threshold
				gv_options.synthesize_fields = {}; // for example: {label:'{name}'} would cause all markers' names to become visible labels
					
				
				// Load GPS Visualizer's Google Maps functions (this must be loaded AFTER gv_options are set):
				document.writeln('<script src="http://maps.gpsvisualizer.com/google_maps/functions3.js" type="text/javascript"><'+'/script>');
				
			</script>
			
			<style type="text/css">
				/* Put any custom style definitions here (e.g., .gv_marker_info_window, .gv_marker_info_window_name, .gv_marker_list_item, .gv_tooltip, .gv_label, etc.) */
				#gmap_div .gv_marker_info_window {
					font-size:11px !important;
				}
				#gmap_div .gv_label {
					background:#333333; border:1px solid black; padding:1px;
					color:white; font:9px Verdana,sans-serif !important; font-weight:normal !important;
					opacity:0.80; filter:alpha(opacity=80);
				}
				
			</style>
			
			<!-- end GPSV setup script and styles; begin map-drawing script (they must be separate) -->
			<script type="text/javascript">
				function GV_Map() {
				  
					GV_Setup_Map();
					
					
					
					GV_Draw_Marker({lat:43.6190440,lon:7.0350470,name:'Le camp Harkis',desc:'',label:'Le camp Harkis',color:'',icon:''});
					GV_Draw_Marker({lat:43.6224870,lon:7.0442190,name:'La grotte Bermond',desc:'',label:'La grotte Bermond',color:'',icon:''});
					GV_Draw_Marker({lat:43.6255170,lon:7.0526890,name:'Nautipolis',desc:'',label:'Nautipolis',color:'',icon:''});
					GV_Draw_Marker({lat:43.6211990,lon:7.0949670,name:'La Tour de la Chevre d\'Or',desc:'',label:'La Tour de la Chevre d\'Or',color:'',icon:''});
					GV_Draw_Marker({lat:43.6099830,lon:7.0162360,name:'Beach volley a Mougins',desc:'',label:'Beach volley a Mougins',color:'',icon:''});
					GV_Draw_Marker({lat:43.6093480,lon:7.0148220,name:'Font de l\'Orme',desc:'',label:'Font de l\'Orme',color:'',icon:''});
					GV_Draw_Marker({lat:43.6421290,lon:7.0469090,name:'Terrain de bicross',desc:'',label:'Terrain de bicross',color:'',icon:''});
					GV_Draw_Marker({lat:43.6147840,lon:7.0517100,name:'Les Mines de Paris',desc:'',label:'Les Mines de Paris',color:'',icon:''});
					GV_Draw_Marker({lat:43.6229470,lon:7.0695230,name:'Le golf provencal de Biot',desc:'',label:'Le golf provencal de Biot',color:'',icon:''});
					GV_Draw_Marker({lat:43.6066630,lon:7.0777710,name:'Azur Arena Antibes',desc:'',label:'Azur Arena Antibes',color:'',icon:''});
					GV_Draw_Marker({lat:43.6054520,lon:7.0678120,name:'Aqueduc de Claussonnes',desc:'',label:'Aqueduc de Claussonnes',color:'',icon:''});
					GV_Draw_Marker({lat:43.5869000,lon:7.0622800,name:'L\'Oppidum du Pezou',desc:'',label:'L\'Oppidum du Pezou',color:'',icon:''});
					GV_Draw_Marker({lat:43.6165600,lon:7.0438500,name:'Les Bouillides - le basket',desc:'',label:'Les Bouillides - le basket',color:'',icon:''});
					GV_Draw_Marker({lat:43.6185000,lon:7.0468200,name:'Les Bouillides - le skate-park',desc:'',label:'Les Bouillides - le skate-park',color:'',icon:''});
					GV_Draw_Marker({lat:43.6184000,lon:7.0433700,name:'Les Bouillides - la course',desc:'',label:'Les Bouillides - la course',color:'',icon:''});
					GV_Draw_Marker({lat:43.6217670,lon:7.0392000,name:'Place Bermond',desc:'',label:'Place Bermond',color:'',icon:''});
					GV_Draw_Marker({lat:43.6173500,lon:7.0750500,name:'L\'espace Saint Philippe',desc:'',label:'L\'espace Saint Philippe',color:'',icon:''});
					
					
					GV_Finish_Map();
						
				  
				}
				GV_Map(); // execute the above code
				// http://www.gpsvisualizer.com/map_input?bg_map=google_map&form=google&google_wpt_labels=1
			</script>
			
			
						</div>
				</div>
			
<% include ./partials/footer %>


		</body>
	</html>