<!DOCTYPE HTML>
<html>
<head>
	<title>REGLEMENT - Géocaching Jeux de Sophia 2018</title>
	<% include ./partials/head %>
</head>
<body>

	<div class="wrapper style1">

		<div id="header">
			<div class="container">

				<h1><a href="/" id="logo">Géocaching</a></h1>

				<nav id="nav">
					<ul>
						<li><a href="/">Accueil</a></li>
						<li><a href="/geocaches">Géocaches</a></li>
						<li><a href="/tbs">Objets Voyageurs</a></li>
						<li class="active"><a href="/geocaching">Règles du jeu</a></li>
						<li><a href="/tools">Outils</a></li>
						<li><a href="/ranking">Classement</a></li>
					</ul>
				</nav>

			</div>
		</div>
	</div>

	<div id="main" class="wrapper style4">

		<div id="content" class="container">

			<section>


				<header class="major">
					<h2>Règlement de l'épreuve</h2>
					<span class="byline">Règles générales de l'épreuve Géocaching des Jeux de Sophia</span>
				</header>

				<p>Cette année nous avons décidé de vous faire découvrir un nouvel aspect du Geocaching : les <a href="/geocaching#objetsvoyageurs">objets voyageurs</a>, et d'organiser une <b><a href="/tbs">Course aux Objets Voyageurs</a></b>. 
				Cette course est le fruit de notre imagination, mais s'inspire très largement du véritable principe des objets voyageurs en Geocaching. Le but est de déplacer les objets de cache en cache, tout en réalisant la mission de l'objet. Il vous faudra jouer collectif et déplacer le plus d'objets possibles.</p>


				<h2>D'ou viennent les objets ?</h2>
				<p>Les objets qui voyagent auront été créé par vous, les participants à cette épreuve. 
				Chaque participant ne peut créer qu'un seul objet voyageur.</p>


				<h2>Comment créer un objet ?</h2>
				<ol style="list-style-type:decimal; margin-left: 40px;">
					<li>
						<p>Pour créer un objet, il faut d'abord aller chercher un tag de bois sur lequel a été gravé un code unique (<i>exemple ci-contre : CR5Z</i>).
						<img align="right" class="image" width="100px;" src="public/images/tbcode.jpg" alt="Exemple code de TB" style="margin-right:20px;">

						<br>Ce code unique permettra de valider les opérations de récuperation et dépose ; en étant sur d'avoir l'objet en main.</p>
						<p><b>Votre tag vous attend dans la cache <a href="/cache">Point de départ</a></b>. 
						<br><i>/!\ Attention : n'en prenez qu'un seul ! Seulement un objet par participant sera autorisé.</i></p>
					</li>
					<li>
						<p>Ensuite attachez solidement ce tag à un petit objet de votre choix. par exemple un porte clé, une petite peluche, un objet souvenir, etc...</p>
					</li>
					<li>
						<p>Puis <a href="/register">enregistrez votre objet </a> afin qu'il soit répertorié sur notre site. 
						Lors de l'enregistrement, réfléchissez bien à la mission personnelle que vous voulez donner à votre objet ; car les participants devront satisfaire cette mission pour avoir des points. Soyez imaginatif pour le plus grand plaisir de tous !</p>
					</li>
					<li>
						<p>Une fois créé, il apparait comme "dans vos mains". Il pourra alors etre déposé dans une cache par vos soins, puis récupéré par un autre participant, et ainsi de suite.</p>
					</li>
				</ol>
				

				<h2>Comment déposer (drop) un objet ?</h2>
				<p>Lorsque vous trouvez une geocache, vous devez flasher le QR code pour pouvoir accéder à la page du log. 
				Lors de votre log, vous avez la possibilité de déposer un objet dans la boite ; en sélectionnant dans la liste des objets répertorié "dans vos mains". Un seul objet peut être deposé à la fois. Vous pouvez par contre répéter l'opération pour déposer un autre objet dans la même cache. <b>Merci de ne pas tarder à saisir sur le site pour éviter les confusions</b> </p>
				<img src="public/images/drop.jpg" alt="Drop de TB" width="470px;" >
				<p>Il est aussi possible de déposer un objet voyageur depuis la page de profil de l'objet</p>


				<h2>Comment récupérer (grab) un objet d'une cache ?</h2>
				<p>Lorsque vous trouvez une geocache, en flashant le Qr Code vous aurez aussi la possibilité de récupérer un objet présent dans la boite. Un seul objet peut être récupéré à la fois. Vous pouvez également voir la liste des objets présents dans une boite à partir de la page de la cache. Vous pouvez les récupérer de là également. <b>Merci de ne pas tarder à saisir sur le site pour éviter les confusions.</b></p>
				<img width="470px;" src="public/images/grab.jpg" alt="Grab de TB" style:"float: right; box-sizing: border-box; margin-right: 40px;">
				<img width="470px;" src="public/images/grab2.jpg" alt="Grab de TB" style:"float: right; box-sizing: border-box; margin-right: 40px;">
				<br><br>

				<h2>Que faire si un objet est supposé être dans une boite mais je ne le vois pas ?</h2>
				<p>Il faut dans la mesure du possible faire les opérations sur le site au moment de l'intéraction avec l'objet voyageur de facon à éviter les situations compliquées. 
				<br>Le bon déroulement du jeu se fonde sur la bonne foi et la bonne volonté des participants.
				<br>Tout comme les géocaches peuvent disparaitrent, il peut aussi arriver que les objets se perdent, c'est le jeu..., ils seront alors déclarés hors course.
				<br>Si après 24h les données ne sont toujours pas à jour sur le site, contactez-nous ;-)</p>


				<h2>Puis je garder un objet ?</h2>
				<p>Les objets que vous allez rencontrer seront tous très mignons et l'envie de les garder parfois sera grande, surtout si vous geocachez avec des jeunes enfants ! Il faut résister à la tentation de les garder car le principe est de faire voyager l'objet et d'accomplir sa mission.</p>


				<h2>Comment déplacer les objets ?</h2>
				<p>Les points sont attribués lorsque les objets sont déplacés de cache en cache ; mais plus particulierement lorsque les objets visitent des nouvelles boites ou lorsque vous déplacez un objet que vous n'avez pas encore déplacé. Regardez donc bien avant de prendre un objet et en choisissant la cache ou le déposer. 
				<br>Sur la page de la cache, vous pouvez voir les objets ayant deja transité, et sur la page de l'objet vous pouvez voir les caches déja visitées. 
				<br>Nous comptons sur vous pour ne pas tricher !</p>


				<h2>Comment trouver une cache ?</h2>
				<p>La liste des caches à trouver est accessible depuis cette page : <a href="/geocaches" alt="Liste des caches à trouver">liste des caches à trouver</a> 
				<br>Chaque cache dispose de sa propre page explicative ou vous trouverez le descriptif, le type de la cache, le ratio de Difficulté / Terrain, la taille de la boite, pour les caches de type TRADITIONNEL ou MULTI les coordonnées GPS pour vous rendre à l'emplacement de la boite et pour les caches de type MYSTERY, des indications vous permettant de découvrir les coordonnées.</p>

				<p>Utilisez les applications mobiles recommandées sur la page <a href="/tools" alt="les outils">les outils</a> pour rentrer les coordonnées GPS et vous rendre au pied de la cache à l'aide de la boussole GPS.</p>

				<p>Pour les types de caches ou il y à un conteneur physique à découvrir (TRADI, MULTI, MYSTERE, WHERIGO), vous trouverez un <i>« logbook »</i> avec le logo des Jeux de Sophia : laissez-y votre nom ou pseudo (gardez toujours le même) et la date de votre trouvaille ! Puis flashez le QRCode à la fin du logbook, pour enregistrer votre visite en ligne. <i>Pensez à garder le même pseudo de géocacheur ou d'équipe si vous jouez à plusieurs pour toute la durée de l'épreuve.</i> N'oubliez pas de scanner le QRCode pour participer au classement de l'épreuve.</p>

				<p><b>Pensez à prendre un stylo pour signer les logbooks, c'est le seul matériel nécessaire pour l'épreuve avec une bonne paire de chaussure et votre Smartphone bien sûr ;-)</b></p>

				<p>Dans les plus grosses boites, vous pourrez ensuite faire les échanges d'objets : dépose (drop) ou récuperation (grab). Remettez le tout en place, bien camouflé comme à l’origine, et partez vers la suivante ! Pas d’ordre, pas de temps imposé, pas de compétition. Vous n’êtes pas obligés de toutes les trouver, l’essentiel étant avant tout de participer et découvrir cette activité !</p>
				

				<h2>Comment sont comptabilisés les points ?</h2>
				<p>De par nature, <b>le géocaching n'est pas une compétition</b>.
				<br>Pour l'épreuve des jeux de Sophia, nous mettons en place un classement basé sur des points gagnés par les méthodes suivantes :</p>

				<ul> 
					<li>&bull; A chaque fois que vous trouvez une nouvelle cache, des points sont attribués. Si vous loguez plusieurs fois la même cache pour y déposer plusieurs objets, les points ne seront comptés qu'une seule fois. </li>
					<li>&bull; Si vous êtes parmi les 3 premiers à trouver la cache, des points supplémentaires sont attribués.</li>
					<li>&bull; A chaque fois qu'<b>un de vos objets</b> est déplacé, des points vous sont attribués. 
					Si votre objet est sympathique, il sera plus facilement déplacé ! ;) </li>
					<li>&bull; A chaque fois que <b>vous</b> déplacez un objet, des points vous sont attribués</li>
					<li>&bull; Lorsque vous satisfaisez la mission d'un objet, des points sont attribués.</li>
					<li>&bull; Lorsqu'un objet est déposé dans une cache pour la première fois, des points sont attribués.</li>
					<li>&bull; Lorsque vous déposez un objet pour la première fois, des points sont attribués</li>
				</ul>
				
				<p>Ces classements sont accessibles en "temps réél" depuis <a href="/ranking">la page classement</a>; calculé sur la base des données saisies sur notre site. Veillez à bien utiliser la même adresse email tout au long de l'épreuve car c'est elle qui permettra de vous identifier. Il est important de noter qu'en cas de "litiges", les logbooks papier que vous n'oublierez pas de signer pourrons servir à valider les trouvailles. Pensez à prendre un stylo avec vous !</b></p>


				<h2>Comment avoir des tickets de tombola ?</h2>				
				<p>Pour les plus chanceux : nous dispersons à notre bon vouloir des tickets pour la tombola de la soirée de clôture dans les caches, de façon aléatoire et pendant toute la durée de l'épreuve. Chacun pourra peut-être avoir la chance de tomber au bon endroit, au bon moment ! <br>Certaines caches contiennent plusieurs tickets, le premier à trouver la boite (FTF - <i>First To Find</i>) peut s'il le désire (le géocacheur est sympa) laisser des tickets pour le second (STF - <i>Second To Find</i>) et même le troisième (TTF - <i>Third To Find</i>).</p>

				<p>Tous les participants inscrits ont droit à un ticket de tombola, que nous vous remettons en mains propres. Vous pouvez venir récupérer ce ticket lors de l'événement organisé le dimanche 3 juin (lieu à définir) : <a href="https://coord.info/GCXXXX">https://coord.info/GCXXXX</a>. Et aussi directement près de l'urne le jour de la soirée de cloture des Jeux le 14 juin à l'Azur Arena d'Antibes.</p>
			</section>
			<br><br>
			<section>
						<header class="major">
							<h2>Recommandations</h2>
							<span class="byline">Soyez respecteux de l'environnement et discret pendant vos recherches ;-)</span>
						</header>
						<p>Dans le but de préserver la nature, les géocaches sont disposées à proximité des sentiers et des pistes. Merci de ne pas piétiner les zones vertes et fleuries, et de ne pas briser les branches.</p>
						<p>Merci également de récupérer vos déchets. Le Géocaching est une activité éco-friendly !</p>

						<p>Il est inutile de s'aventurer dans un endroit jugé dangereux ou seulement risqué, interdit, privé, ... Les géocaches sont placées dans des lieux accessibles au public sans danger. A vous de trouver le chemin le plus simple pour y arriver !</p>

						<p>Si vous pratiquez déja le geocaching, vous risquez de vous retrouver a proximité d'autres geocaches, profitez en pour les trouver si vous ne l'avez pas déjà fait ;-)</p>

						<p class="medium"><b>Aux abords d’une géocache, soyez discret en présence de personnes non initiées (appelées les moldus). Ceci dans le but de préserver l’emplacement de la cache et sa découverte par les prochains géocacheurs ;-)</b></p>
					</section>
					<br><br>
					<section id="objetsvoyageurs">
						<header class="major">
							<h2>Les Objets Voyageurs - Travel Bugs®</h2>
							<span class="byline">Informations extraites du site <a href="https://www.geocaching.com/track/">Geocaching.com/track</a></span>
						</header>
						<iframe width="760" height="515" src="https://www.youtube-nocookie.com/embed/LjSbSsSSTIM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						<p>Explications en vidéo. <i>Vous pouvez activer des sous-titres en Français ;-)</i></p>

						<p><b>Que sont les Objets Voyageurs ?</b><br>Les objets voyageurs sont des pièces de jeu physiques qui bougent de géocache en géocache. <br>Les types d'objets voyageurs peuvent être : des géocoins, des porte-clés, des t-shirts, et encore plus !<br>Contrairement aux objets classique que l'on peut trouver dans les géocaches, les objets voyageurs ont la spécificité d'avoir un identifiant unique écrit avec eux.
						<br><br>Pour connaitre la différence entre un Objet Voyageur et un simple objet, nous vous invitons à cliquer sur ce lien : <a href="https://www.geocaching.com/blog/2017/09/difference-entre-swag-et-objets-voyageurs/">https://www.geocaching.com/blog/2017/09/difference-entre-swag-et-objets-voyageurs/</a></p>

					</section>
					<br><br>
					<section id="typesgeocaches">
						<header class="major">
							<h2>Quelques Types de géocaches</h2>
							<span class="byline">Informations extraites du site <a href="https://www.geocaching.com/about/cache_types.aspx">Geocaching.com</a></span>
						</header>
						<div class="row flush">
							<div class="4u">
								<ul class="special-icons">
									<li>
										<span class="fa"><img src="public/images/TRADIBIG.gif" alt="Cache traditionnelle"></span>
										<h3>Cache traditionnelle</h3>
										<p>C'est le type de cache d'origine et le plus répandu. Ces géocaches sont constituées d'un conteneur et de coordonnées précises. La taille peut varier, mais au minimum, toutes ces géocaches possèdent un logbook. Les conteneurs plus grands peuvent contenir des objets pour échange ou des objets voyageurs.</p>
									</li>

								</ul>
							</div>
							<div class="4u">
								<ul class="special-icons">
									<li>
										<span class="fa"><img src="public/images/MYSTERYBIG.gif" alt="Cache mystère"></span>
										<h3>Caches mystères</h3>
										<p>Le type de cache "fourre-tout", ce type de cache peut comporter des énigmes complexes que vous devez d’abord résoudre pour déterminer les coordonnées. Les caches Mystère/Puzzle comprennent des géocaches à la fois nouvelles et uniques qui ne rentrent pas dans une autre catégorie.</p>
									</li>

								</ul>
							</div>
							<div class="4u">
								<ul class="special-icons">
									<li>
										<span class="fa"><img src="public/images/MULTIBIG.gif" alt="Cache Multi"></span>
										<h3>Multi-cache</h3>
										<p>Une multi-cache comporte deux étapes ou plus. L’étape finale est constituée d'un conteneur physique avec un logbook à l'intérieur. Il y a beaucoup de variantes, mais pour la plupart, vous trouverez à la première étape une indication quant à l’emplacement de la seconde. A la seconde une indication quant à l’emplacement de la troisième, et ainsi de suite.</p>
									</li>

								</ul>
							</div>
						</div>
						<div class="row flush">
							<div class="4u">
								<ul class="special-icons">
									<li>
										<span class="fa"><img src="public/images/EARTHCACHEBIG.gif" alt="Earthcache"></span>
										<h3>EarthCache</h3>
										<p>Une EarthCache est un lieu particulier que vous pouvez visiter pour en savoir plus sur une particularité géologique de notre planète. Les descriptions des EarthCaches comprennent un ensemble de notes éducatives avec des coordonnées. Les visiteurs des EarthCaches peuvent découvrir comment notre planète a été façonnée par des processus géologiques, comment gérer ses ressources et comment les scientifiques recueillent des observations pour accroître leur connaissance de la Terre. Pour plus d’informations sur les EarthCaches, consultez <a href="http://www.earthcache.org/">http://www.earthcache.org/.</a></p>
									</li>

								</ul>
							</div>
							<div class="4u">
								<ul class="special-icons">
									<li>
										<span class="fa"><img src="public/images/LETTERBOXBIG.gif" alt="Letterbox"></span>
										<h3>Boîte aux lettres hybride</h3>
										<p>Letterboxing est un autre style de chasse au trésor, qui utilise des indices au lieu de coordonnées. Dans certains cas, il peut arriver que le propriétaire en ait fait à la fois une Letterbox et une géocache et ait publié ses coordonnées sur Geocaching.com. Ce type de géocache contient un tampon qui est destiné à rester dans la boîte afin que les visiteurs puissent l'utiliser pour enregistrer leur visite. Pour en savoir plus sur le Letterboxing, visitez <a href="http://www.letterboxing.org/">le site Web Letterboxing North America.</a></p>
									</li>

								</ul>
							</div>
							<div class="4u">
								<ul class="special-icons">
									<li>
										<span class="fa"><img src="public/images/EVENTBIG.gif" alt="Cache Event"></span>
										<h3>Event</h3>
										<p>Une cache Event est une rencontre de géocacheurs locaux ou d'organisations de Géocaching. La page de l'Event précise les horaires de la rencontre et fournit les coordonnées de son lieu. Après la rencontre, la cache Event est archivée.</p>
									</li>

								</ul>
							</div>
						</div>
						<div class="row flush">
							<div class="4u">
								<ul class="special-icons">
									<li>
										<span class="fa"><img src="public/images/CITOBIG.gif" alt="CITO Event"></span>
										<h3>Event Cache In Trash Out (CITO)</h3>
										<p><a href="http://www.geocaching.com/cito/default.aspx">Cache In Trash Out</a> est une initiative environnementale soutenue par la communauté du Géocaching. L'objectif principal de ce programme est de nettoyer et de préserver les espaces naturels que nous côtoyons pendant le Géocaching. Ces Events sont de grands rassemblements dans lesquels les participants se concentrent sur le ramassage de détritus, le retrait des espèces de plantes envahissantes, la plantation d'arbres et de végétation.</p>
									</li>

								</ul>
							</div>
							<div class="4u">
								<ul class="special-icons">
									<li>
										<span class="fa"><img src="public/images/WHERIGOBIG.gif" alt="Cache Wherigo"></span>
										<h3>Cache Wherigo</h3>
										<p>Wherigo est un ensemble d'outils permettant de créer et de jouer, dans le monde réel, à des aventures rendues possibles grâce à l'utilisation d'un GPS. En associant une aventure Wherigo, appelée une cartouche, avec la recherche d’une cache, le Géocaching peut devenir encore plus intéressant. Entre autres utilisations, les aventures Wherigo permettent aux géocacheurs d'interagir avec des éléments physiques et virtuels, comme des objets ou des personnages, tout en pouvant encore trouver une boîte de géocache bien réelle. Un GPS compatible avec Wherigo est requis pour pouvoir jouer une cartouche. Apprenez-en plus sur plus <a href="http://www.wherigo.com/">Wherigo.com.</a></p>
									</li>

								</ul>
							</div>
							<div class="4u">
								<ul class="special-icons">
									<li>
										<span class="fa"><img src="public/images/WEBCAMBIG.gif" alt="Cache Webcam"></span>
										<h3>Cache Webcam</h3>
										<p>Ce sont des géocaches qui utilisent des webcams déjà existantes et qui filment des endroits variés comme des parcs ou des complexes d'affaires. L'idée est de se positionner dans le champ de la caméra et d'enregistrer une image issue du site sur lequel la webcam diffuse, dans le but de loguer. Vous pouvez trouver les nouvelles caches webcam dans la <a href="http://www.waymarking.com/cat/details.aspx?f=1&guid=d23f8e0b-2e43-4530-8f46-2e4fdae93ddd">Catégorie des caches webcam sur Waymarking.com.</a></p>
									</li>

								</ul>
							</div>
						</div>
					</section>

					<br><br>
					<section>
						<header class="major">
							<h2>Quelques explications complémentaires</h2>
							<span class="byline">Extraites du site Geocaching.com</span>
						</header>
						<p><b>Où sont placées les caches ?</b><br>
							On retrouve des géocaches partout dans le monde. Des géocacheurs dissimulent souvent des caches dans des emplacements qui leur sont importants et qui reflètent un intérêt spécial ou une habileté du propriétaire de la cache. Ces emplacements peuvent être divers. Elles peuvent se trouver dans un parc en ville, au terme d'une grande randonnée, sous l'eau ou le long d'une rue en ville.</p>

							<p><b>Y a-t-il différents types de géocaches ?</b><br>
								Oui. Le Géocaching compte actuellement plus d'une douzaine de "types de caches", chaque type de cache représentant un aspect différent du jeu. Vous pouvez trouver des caches traditionnelles (simples coordonnées GPS), des multi (série d’indices à trouver), des mystères (énigme à résoudre pour trouver les coordonnées), ou encore des caches plus spécifiques comme des Earthcaches (découverte du patrimoine géologique) ou bien des Wherigo (application interactive depuis smartphone / tablette).</p>

								<img src="public/images/geocaches.jpg" align="right" alt="Rudiments du Geocaching">

								<p><b>De quoi a l’air une cache ?</b><br>
									Il y a beaucoup de variation dans la taille et dans l'apparence des géocaches. Sur le terrain, vous verrez un peu de tout, de grands contenants en plastique transparent, aux boîtes étanches pour film, aux fausses roches munies d'un compartiment secret. Alors, comment trouverez-vous la cache ?<br>
									La première étape consiste de se faire une idée générale de la taille de la cache. Celle-ci figure sur chaque page de cache. Vous trouverez ci-dessous un aperçu du graphique de la taille des caches. Veuillez noter que ce ne sont que des exemples ; les tailles peuvent varier.</p>

									<p><b>Micro</b> - moins que 100 ml. Exemples: une boîte étanche de film de 35 mm ou une boîte minuscule qui ne contient qu'un journal (Log-book) ou une feuille de journal. Une cache nano est un sous-type commun d'une cache micro ayant moins de 10 ml et qui ne contient qu'une petite feuille de journal.</p>

									<p><b>Petite (small)</b> - 100 ml ou plus, mais moins que 1 L. Exemple : Un contenant de sandwich en plastique ou quelque chose de semblable.</p>

									<p><b>Régulière (regular)</b> - 1 L ou plus, mais moins que 20 L. Exemples : un contenant en plastique ou une boîte de munitions d'environ la taille d'une boîte à chaussure.</p>

									<p><b>Grande (large)</b> - 20 L ou plus. Exemple - Un gros seau.</p>

								</section>
							</div>
						</div>


						<% include ./partials/footer %>


					</body>
					</html>