<!DOCTYPE HTML>
<html>
<head>
	<title>REGLEMENT - Géocaching Jeux de Sophia 2016</title>
	<% include ./partials/head %>
</head>
<body>

	<div class="wrapper style1">

		<div id="header">
			<div class="container">

				<h1><a href="/" id="logo">Géocaching</a></h1>

				<nav id="nav">
					<ul>
						<li><a href="/">Accueil</a></li>
						<li><a href="/geocaches">Les Caches à trouver</a></li>
						<li class="active"><a href="/geocaching">Règles du jeu</a></li>
						<li><a href="/tools">Les Outils</a></li>
						<li><a href="http://jeuxdesophia.com/jcms/rda_6290">Inscriptions</a></li>
					</ul>
				</nav>

			</div>
		</div>
	</div>

	<div id="main" class="wrapper style4">

		<div id="content" class="container">

			<section>
				<header class="major">
					<h2>Règlement de l'épreuve</h2>
					<span class="byline">Règles générales de l'épreuve Géocaching des Jeux de Sophia</span>
				</header>
				<p>Dans chaque cache, vous trouverez un « logbook » avec le logo des Jeux de Sophia : laissez-y votre nom ou pseudo et la date de votre trouvaille ! Puis flashez le QR code à la fin du logbook, pour enregistrer votre visite en ligne.</p>

				<p>Dans les plus grosses boites, vous trouverez des objets en tout genre. Si vous en récupérez un, prenez soin d’en laisser un de même valeur au moins ! Pour les plus chanceux : nous dispersons à notre bon vouloir des tickets pour la soirée de clôture dans les caches, de façon aléatoire et pendant tout le mois de Juin. Chacun pourra peut-être avoir la chance de tomber au bon endroit, au bon moment !</p>

				<p>Remettez le tout en place, bien camouflé comme à l’origine, et partez vers la suivante ! Pas d’ordre, pas de temps imposé, pas de compétition.</p>

				<p>Tous les participants inscrits ont droit à un ticket de tombola, que nous vous remettons en mains propres. Après vos recherches de caches, vous pouvez venir récupérer votre lot à notre stand, place Bermond. Vous n’êtes pas obligés de toutes les trouver, l’essentiel étant avant tout de participer et découvrir cette activité !</p>
			</section>

			<section>
				<header class="major">
					<h2>Recommandations</h2>
					<span class="byline">Soyez respecteux de l'environnement et discret pendant vos recherches ;-)</span>
				</header>
				<p>Dans le but de préserver la nature, les géocaches sont disposées à proximité des sentiers et des pistes. Merci de ne pas piétiner les zones vertes et fleuries, et de ne pas briser les branches.</p>
				<p>Merci également de récupérer vos déchets. Le Géocaching est une activité éco-friendly !</p>

				<p>Il est inutile de s'aventurer dans un endroit jugé dangereux ou seulement risqué, interdit, privé, ... Les géocaches sont placées dans des lieux accessibles au public sans danger. A vous de trouver le chemin le plus simple !</p>

				<p><b>Enfin aux abords d’une géocache, soyez discret en présence de personnes non initiées. Dans le but de préserver l’emplacement de la cache et sa découverte par les prochains géocacheurs ;-)</b></p>
			</section>

			<section>
				<header class="major">
					<h2>Quelques explications complémentaires</h2>
					<span class="byline">Extraites du site Geocaching.com</span>
				</header>
				<p><b>Où sont placées les caches ?</b><br>
					On retrouve des géocaches partout dans le monde. Des géocacheurs dissimulent souvent des caches dans des emplacements qui leur sont importants et qui reflètent un intérêt spécial ou une habileté du propriétaire de la cache. Ces emplacements peuvent être divers. Elles peuvent se trouver dans un parc en ville, au terme d'une grande randonnée, sous l'eau ou le long d'une rue en ville.</p>

					<p><b>Y a-t-il différents types de géocaches ?</b><br>
						Oui. Le Géocaching compte actuellement plus d'une douzaine de "types de caches", chaque type de cache représentant un aspect différent du jeu. Vous pouvez trouver des caches traditionnelles (simples coordonnées GPS), des multi (série d’indices à trouver), des mystères (énigme à résoudre pour trouver les coordonnées), ou encore des caches plus spécifiques comme des Earthcaches (découverte du patrimoine géologique) ou bien des Wherigo (application interactive depuis smartphone / tablette).</p>

						<img src="images/geocaches.jpg" align="right" alt="Rudiments du Geocaching">

						<p><b>De quoi a l’air une cache ?</b><br>
							Il y a beaucoup de variation dans la taille et dans l'apparence des géocaches. Sur le terrain, vous verrez un peu de tout, de grands contenants en plastique transparent, aux boîtes étanches pour film, aux fausses roches munies d'un compartiment secret. Alors, comment trouverez-vous la cache ?<br>
							La première étape consiste de se faire une idée générale de la taille de la cache. Celle-ci figure sur chaque page de cache. Vous trouverez ci-dessous un aperçu du graphique de la taille des caches. Veuillez noter que ce ne sont que des exemples ; les tailles peuvent varier.</p>

							<p><b>Micro</b> - moins que 100 ml. Exemples: une boîte étanche de film de 35 mm ou une boîte minuscule qui ne contient qu'un journal (Log-book) ou une feuille de journal. Une cache nano est un sous-type commun d'une cache micro ayant moins de 10 ml et qui ne contient qu'une petite feuille de journal.</p>

							<p><b>Petite (small)</b> - 100 ml ou plus, mais moins que 1 L. Exemple : Un contenant de sandwich en plastique ou quelque chose de semblable.</p>

							<p><b>Régulière (regular)</b> - 1 L ou plus, mais moins que 20 L. Exemples : un contenant en plastique ou une boîte de munitions d'environ la taille d'une boîte à chaussure.</p>

							<p><b>Grande (large)</b> - 20 L ou plus. Exemple - Un gros seau.</p>

						</section>
					</div>
				</div>


				<% include ./partials/footer %>


			</body>
			</html>