<!DOCTYPE HTML>
<html>
<head>
	<title>REGLEMENT - Géocaching Jeux de Sophia 2017</title>
	<% include ./partials/head %>
</head>
<body>

	<div class="wrapper style1">

		<div id="header">
			<div class="container">

				<h1><a href="/" id="logo">Géocaching</a></h1>

				<nav id="nav">
					<ul>
						<li><a href="/">Accueil</a></li>
						<li><a href="/geocaches">Les Caches à trouver</a></li>
						<li class="active"><a href="/geocaching">Règles du jeu</a></li>
						<li><a href="/tools">Les Outils</a></li>
						<li><a href="/ranking">Classement</a></li>
					</ul>
				</nav>

			</div>
		</div>
	</div>

	<div id="main" class="wrapper style4">

		<div id="content" class="container">

			<section>
				<header class="major">
					<h2>Règlement de l'épreuve</h2>
					<span class="byline">Règles générales de l'épreuve Géocaching des Jeux de Sophia</span>
				</header>
				<p>La liste des caches à trouver est accessible depuis cette page : <a href="/geocaches" alt="Liste des caches à trouver">liste des caches à trouver</a></p>
				
				<p>Chaque cache dispose de sa propre page explicative ou vous trouverez le descriptif, le type de la cache, le ratio de Difficulté / Terrain, la taille de la boite, pour les caches de type TRADITIONNEL ou MULTI les coordonnées GPS pour vous rendre à l'emplacement de la boite et pour les caches de type MYSTERY, des indications vous permettant de découvrir les coordonnées.</p>

				<p>Utilisez les applications mobiles recommandées sur la page<a href="/tools" alt="les outils"> les outils</a> pour rentrer les coordonnées GPS et vous rendre au pied de la cache à l'aide de la boussole GPS.</p>

				<p>Pour les types de caches ou il y à un conteneur physique à découvrir (TRADI, MULTI, MYSTERE, WHERIGO), vous trouverez un <i>« logbook »</i> avec le logo des Jeux de Sophia : laissez-y votre nom ou pseudo (gardez toujours le même) et la date de votre trouvaille ! Puis flashez le QRCode à la fin du logbook, pour enregistrer votre visite en ligne. <i>Pensez à garder le même pseudo de géocacheur ou d'équipe si vous jouez à plusieurs pour toute la durée de l'épreuve.</i> N'oubliez pas de scanner le QRCode pour participer au classement de l'épreuve.</p>

				<p><b>Pensez à prendre un stylo pour signer les logbooks, c'est le seul matériel nécessaire pour l'épreuve avec une bonne paire de chaussure et votre Smartphone bien sûr ;-)</b></p>

				<p>Dans les plus grosses boites, vous trouverez des objets en tout genre, n'hésitez pas à faire des échanges.<br>
					Pour les plus chanceux : nous dispersons à notre bon vouloir des tickets pour la tombola de la soirée de clôture dans les caches, de façon aléatoire et pendant toute la durée de l'épreuve. Chacun pourra peut-être avoir la chance de tomber au bon endroit, au bon moment ! <br>Certaines caches contiennent plusieurs tickets, le premier à trouver la boite (FTF - <i>First To Find</i>) peut s'il le désire (le géocacheur est sympa) laisser des tickets pour le second (STF - <i>Second To Find</i>) et même le troisième (TTF - <i>Third To Find</i>).</p>

					<p>Remettez le tout en place, bien camouflé comme à l’origine, et partez vers la suivante ! Pas d’ordre, pas de temps imposé, pas de compétition.
						Vous n’êtes pas obligés de toutes les trouver, l’essentiel étant avant tout de participer et découvrir cette activité !</p>

						<p>Tous les participants inscrits ont droit à un ticket de tombola, que nous vous remettons en mains propres. Vous pouvez venir récupérer ce ticket lors de l'événement organisé le dimanche 11 juin au Parc des Bouillides : <a href="https://coord.info/GC7601N">https://coord.info/GC7601N</a>. Et aussi directement près de l'urne le jour de la soirée de cloture des Jeux le 22 juin à l'Azur Arena d'Antibes.</p>
					</section>
					<br><br>
					<section>
						<header class="major">
							<h2>Recommandations</h2>
							<span class="byline">Soyez respecteux de l'environnement et discret pendant vos recherches ;-)</span>
						</header>
						<p>Dans le but de préserver la nature, les géocaches sont disposées à proximité des sentiers et des pistes. Merci de ne pas piétiner les zones vertes et fleuries, et de ne pas briser les branches.</p>
						<p>Merci également de récupérer vos déchets. Le Géocaching est une activité éco-friendly !</p>

						<p>Il est inutile de s'aventurer dans un endroit jugé dangereux ou seulement risqué, interdit, privé, ... Les géocaches sont placées dans des lieux accessibles au public sans danger. A vous de trouver le chemin le plus simple pour y arriver !</p>

						<p>Si vous pratiquez déja le geocaching, vous risquez de vous retrouver a proximité d'autres geocaches, profitez en pour les trouver si vous ne l'avez pas déjà fait ;-)</p>

						<p class="medium"><b>Aux abords d’une géocache, soyez discret en présence de personnes non initiées (appelées les moldus). Ceci dans le but de préserver l’emplacement de la cache et sa découverte par les prochains géocacheurs ;-)</b></p>
					</section>
					<br><br>
					<section>
						<header class="major">
						<h2>Classement</h2>
							<span class="byline">Just for Fun !</span>
						</header>
						<p><b>De par nature, le géocaching n'est pas une compétition.</b><br>Pour ceux qui le souhaitent voici les différents classements que nous vous proposerons durant cette épreuve :</p>
						<ul>
						<li>- Classement FTF, STF, TTF</li>
						<li>- Classement au nombre de caches trouvées</li>
						<li>- Classement étoile suivant le ratio Difficulté / Terrain </li>
						<li>- Classement Général au nombre de points</li>
						</ul>

						<p>Ces classements seront accessibles en "temps réél" depuis une page dédiée sur ce site (prochainement). Il sera basé sur le shoot des codes présents dans les caches, c'est l'adresse email que vous utilisez pour les jeux de Sophia qui permettra de vous identifier.</p>

						<p><b>Il est important de noter qu'en cas de "litiges", les logbooks papier que vous n'oublierez pas de signer pourrons servir à valider les trouvailles. Pensez à prendre un stylo avec vous !</b></p>

					</section>
					<br><br>
					<section>
						<header class="major">
							<h2>Quelques explications complémentaires</h2>
							<span class="byline">Extraites du site Geocaching.com</span>
						</header>
						<p><b>Où sont placées les caches ?</b><br>
							On retrouve des géocaches partout dans le monde. Des géocacheurs dissimulent souvent des caches dans des emplacements qui leur sont importants et qui reflètent un intérêt spécial ou une habileté du propriétaire de la cache. Ces emplacements peuvent être divers. Elles peuvent se trouver dans un parc en ville, au terme d'une grande randonnée, sous l'eau ou le long d'une rue en ville.</p>

							<p><b>Y a-t-il différents types de géocaches ?</b><br>
								Oui. Le Géocaching compte actuellement plus d'une douzaine de "types de caches", chaque type de cache représentant un aspect différent du jeu. Vous pouvez trouver des caches traditionnelles (simples coordonnées GPS), des multi (série d’indices à trouver), des mystères (énigme à résoudre pour trouver les coordonnées), ou encore des caches plus spécifiques comme des Earthcaches (découverte du patrimoine géologique) ou bien des Wherigo (application interactive depuis smartphone / tablette).</p>

								<img src="public/images/geocaches.jpg" align="right" alt="Rudiments du Geocaching">

								<p><b>De quoi a l’air une cache ?</b><br>
									Il y a beaucoup de variation dans la taille et dans l'apparence des géocaches. Sur le terrain, vous verrez un peu de tout, de grands contenants en plastique transparent, aux boîtes étanches pour film, aux fausses roches munies d'un compartiment secret. Alors, comment trouverez-vous la cache ?<br>
									La première étape consiste de se faire une idée générale de la taille de la cache. Celle-ci figure sur chaque page de cache. Vous trouverez ci-dessous un aperçu du graphique de la taille des caches. Veuillez noter que ce ne sont que des exemples ; les tailles peuvent varier.</p>

									<p><b>Micro</b> - moins que 100 ml. Exemples: une boîte étanche de film de 35 mm ou une boîte minuscule qui ne contient qu'un journal (Log-book) ou une feuille de journal. Une cache nano est un sous-type commun d'une cache micro ayant moins de 10 ml et qui ne contient qu'une petite feuille de journal.</p>

									<p><b>Petite (small)</b> - 100 ml ou plus, mais moins que 1 L. Exemple : Un contenant de sandwich en plastique ou quelque chose de semblable.</p>

									<p><b>Régulière (regular)</b> - 1 L ou plus, mais moins que 20 L. Exemples : un contenant en plastique ou une boîte de munitions d'environ la taille d'une boîte à chaussure.</p>

									<p><b>Grande (large)</b> - 20 L ou plus. Exemple - Un gros seau.</p>

								</section>
							</div>
						</div>


						<% include ./partials/footer %>


					</body>
					</html>