<!DOCTYPE HTML>
<html>
<head>
	<title>REGLEMENT - Géocaching Jeux de Sophia 2019</title>
	<% include ./partials/head %>
</head>
<body>
	<% include ./partials/menu %>
	<div id="main" class="wrapper style4">
		<div id="content" class="container">
			<section>
				<header class="major">
					<h2>Règlement de l'épreuve</h2>
					<span class="byline">Règles générales de l'épreuve Géocaching des Jeux de Sophia</span>
				</header>

				<p class="medium">Cette année nous avons décidé de vous faire découvrir un nouvel aspect du Geocaching : <b>la Création de géocaches.</b></p>

				<h2>Comment créer une géocache ?</h2>
				<p>Nous vous conseillons de lire attentivement ce guide des bonnes pratiques sur le site officiel : <a href="https://www.geocaching.com/play/guidelines"><b>Guide de pose de géocaches</b></a> </p>
				<p>Pour l'épreuve des JDS, certaines spécificités comme la limite de distance minimum entre deux géocaches n'est pas requise.</p>
				<p>Suite à votre inscription, nous vous enverrons au commencement de l'épreuve un email contenant un lien personnalisé vers une page de formulaire de création.<br>
				Si vous n'avez pas reçu cet email, contactez-nous ;-)</p>
				<p><b>La partie création de géocache reste facultative. Vous pouvez y participer en équipe et créer une géocache à plusieurs !</b></p>

				<h2>Ou poser ma géocache ?</h2>
				<p>Nous limitons la zone de jeu au territoire de <a style="color: #FFFFFF;" href="http://www.casa-infos.fr/carte_casa">la CASA hors partie UV Nord</a></p>
				<p>Vous ne pouvez pas enterrer les géocaches</p>
				<p>De même pour des questions de sécurité, les caches nécessitant un matériel spécifique (escalade, plongée, ou autre) ne seront pas acceptées.</p>
				<p>Si vous souaitez placer votre géocache dans un lieu privé (entreprise), assurez-vous d'avoir l'accord du propriétaire et informez les participants que le lieu est privé avec les conditions d'accès (horaires, personne à demander éventuellement)</p>
				
				<h2>Comment bien prendre les coordonnées GPS de ma géocache ?</h2>
				<p>Si vous disposez d'un GPS de randonnée, c'est royal ! Sinon l'opération est parfaitement réalisable avec un simple smartphone dont le GPS est activé.</p>
				<p>Vous devez simplement relever la Latitude et la Longitude en vous situant à l'emplacement exact ou vous avez dissimulé votre géocache. Il est préférable d'attendre quelques minutes le temps que la précision du signal GPS soit en dessous de 10m.</p>
				<p>Il existe des applications mobiles spécifiques pour vous localiser : quelques exemples
					<ul>
						<li>- Android : <a href="https://play.google.com/store/apps/details?id=com.freemium.android.apps.gps.coordinates&hl=fr"> https://play.google.com/store/apps/details?id=com.freemium.android.apps.gps.coordinates&hl=fr</a></li>
						<li>- IOS : <a href="https://itunes.apple.com/fr/app/mes-coordonnées-gps-2019/id1335952038?mt=8">https://itunes.apple.com/fr/app/mes-coordonnées-gps-2019/id1335952038?mt=8</a></li>
					</ul>
				</p>
				<p>Une fois la latitude et longitude déterminées avec précision (restez en dessous des 10m en précision du signal gps) vous pourrez les reporter dans le formulaire de création de votre géocache (lien personnel)</p>


				<h2>Comment modifier ma géocache ?</h2>
				<p>Une fois votre géocache publiée sur le site après validation par les organisateurs, vous ne pourrez modifier le contenu via la page de création.<br>
					Cependant si vous décelez une erreur ou souhaitez en modifier la description, les coordonnées, photos, ..., merci de nous <a href="mailto:geocaching@jeuxdesophia.com" class="fa fa-envelope"> contacter directement</a> par email ou via la zone de discussion privée sur la page de création (lien personnel).</p>

				<h2>Quand chercher les caches ?</h2>
				<p>L'épreuve dans sa partie recherche est ouverte du 27 mai au 16 juin. Les géocaches publiées peuvent être cherchées librement quand vous voulez, dans l’ordre que vous voulez et ce pendant toute la durée de l'épreuve, seul en équipe ou en famille !</p>

				<h2>Comment trouver une cache ?</h2>
				<p>La liste des caches à trouver est accessible depuis cette page : <a href="/geocaches" alt="Liste des caches à trouver">liste des caches à trouver</a> 
				<br>Chaque cache dispose de sa propre page explicative ou vous trouverez le descriptif, le type de la cache, le propriétaire, le ratio de Difficulté / Terrain, la taille de la boite, pour les caches de type TRADITIONNEL ou MULTI les coordonnées GPS pour vous rendre à l'emplacement de la boite et pour les caches de type MYSTERY, des indications vous permettant de découvrir les coordonnées.</p>

				<p>Utilisez les applications mobiles recommandées sur la page <a href="/tools" alt="les outils">les outils</a> pour rentrer les coordonnées GPS et vous rendre au pied de la cache à l'aide de la boussole GPS.</p>

				<p>Pour les types de caches ou il y à un conteneur physique à découvrir (TRADI, MULTI, MYSTERE, WHERIGO), vous trouverez un <i>« logbook »</i> avec le logo des Jeux de Sophia : laissez-y votre nom ou pseudo (gardez toujours le même) et la date de votre trouvaille ! Puis flashez le QRCode à la fin du logbook, pour enregistrer votre visite en ligne. <i>Pensez à garder le même pseudo de géocacheur ou d'équipe si vous jouez à plusieurs pour toute la durée de l'épreuve.</i> N'oubliez pas de scanner le QRCode pour participer au classement de l'épreuve.</p>

				<p><b>Pensez à prendre un stylo pour signer les logbooks, c'est le seul matériel nécessaire pour l'épreuve avec une bonne paire de chaussure et votre Smartphone bien sûr ;-)</b></p>

				<p>Dans les plus grosses boites, vous pourrez ensuite faire les échanges d'objets : dépose (drop) ou récuperation (grab). Remettez le tout en place, bien camouflé comme à l’origine, et partez vers la suivante ! Pas d’ordre, pas de temps imposé, pas de compétition. Vous n’êtes pas obligés de toutes les trouver, l’essentiel étant avant tout de participer et découvrir cette activité !</p>
				

				<h2 id="points">Comment sont comptabilisés les points ?</h2>
				<p>De par nature, <b>le géocaching n'est pas une compétition</b>.
				<br>Cependant pour l'épreuve des jeux de Sophia, nous mettons en place un classement basé sur des points gagnés par les méthodes suivantes :</p>
				<ul> 
					<li>&bull; A chaque fois que vous trouvez une nouvelle cache, 20 points sont attribués ; plus la somme du nombre d'étoiles relatifs à la difficulté et le terrain des caches trouvées. </li>
					<li>&bull; Si vous êtes parmi les 3 premiers à trouver la cache, des points supplémentaires sont attribués (3 points pour le premier, 2 points pour le second, 1 point pour le troisième).</li>
				</ul>
				
				<p>Ces classements sont accessibles en "temps réél" depuis <a href="/ranking">la page classement</a> ; calculé sur la base des données saisies sur notre site. Veillez à bien utiliser la même adresse email tout au long de l'épreuve car c'est elle qui permettra de vous identifier. Il est important de noter qu'en cas de "litiges", les logbooks papier que vous n'oublierez pas de signer pourrons servir à valider les trouvailles. Pensez à prendre un stylo avec vous !</b></p>

				<h2>Comment avoir des tickets de tombola ?</h2>				
				<p>Cette année les tickets de participation à l'épreuve seront remis directement lors de la soirée de clôture.</p>

				<h2>Comment sont identifiés les participants ?</h2>
				<p>Lorsque vous effectuez des opérations (log, creation, score), vous utilisez votre adresse email pour vous identifier uniquement.
					Par contre, lors de la création de votre géocache, vous aurez à saisir un pseudonyme, qui sera utilisé sur le site pour vous représenter;
					afin que les autres participants ne voient pas votre email.</p>
				<p><b>Il est important de renseigner toujours la même adresse email, celle de votre inscription aux jeux de sophia.</b></p>
			</section>
			<br><br>
			<section>
				<header class="major">
					<h2>Recommandations</h2>
					<span class="byline">Soyez respecteux de l'environnement et discret pendant vos recherches ;-)</span>
				</header>
				<p>Dans le but de préserver la nature, les géocaches seront disposées à proximité des sentiers et des pistes. Merci de ne pas piétiner les zones vertes et fleuries, et de ne pas briser les branches. Evitez de placer votre géocache dans un mur fragile.</p>
				<p>Merci également de récupérer vos déchets. Le Géocaching est une activité éco-friendly !</p>

				<p>Il est inutile de s'aventurer dans un endroit jugé dangereux ou seulement risqué, interdit, privé, ... Les géocaches sont placées dans des lieux accessibles au public sans danger. A vous de trouver le chemin le plus simple pour y arriver !</p>

				<p>Si vous pratiquez déja le geocaching, vous risquez de vous retrouver a proximité d'autres geocaches, profitez en pour les trouver si vous ne l'avez pas déjà fait ;-)</p>

				<p class="medium"><b>Aux abords d’une géocache, soyez discret en présence de personnes non initiées (appelées les moldus). Ceci dans le but de préserver l’emplacement de la cache et sa découverte par les prochains géocacheurs ;-)</b></p>
			</section>
			<br><br>
			<section id="objetsvoyageurs">
				<header class="major">
					<h2>Comment cacher une Géocache</h2>
					<span class="byline">Informations extraites du site <a href="https://www.geocaching.com/">Geocaching.com</a></span>
				</header>
				<iframe width="760" height="515" src="https://www.youtube.com/embed/aqc8Rnl_fh8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<p>Explications en vidéo. <i>Vous pouvez activer des sous-titres en Français ;-)</i></p>
			</section>
			<br><br>
			<section id="typesgeocaches">
				<header class="major">
					<h2>Quelques Types de géocaches</h2>
					<span class="byline">Informations extraites du site <a href="https://www.geocaching.com/about/cache_types.aspx">Geocaching.com</a></span>
				</header>
				<div class="row flush">
					<div class="4u">
						<ul class="special-icons">
							<li>
								<span class="fa"><img src="public/images/TRADIBIG.gif" alt="Cache traditionnelle"></span>
								<h3>Cache traditionnelle</h3>
								<p>C'est le type de cache d'origine et le plus répandu. Ces géocaches sont constituées d'un conteneur et de coordonnées précises. La taille peut varier, mais au minimum, toutes ces géocaches possèdent un logbook. Les conteneurs plus grands peuvent contenir des objets pour échange ou des objets voyageurs.</p>
							</li>

						</ul>
					</div>
					<div class="4u">
						<ul class="special-icons">
							<li>
								<span class="fa"><img src="public/images/MYSTERYBIG.gif" alt="Cache mystère"></span>
								<h3>Caches mystères</h3>
								<p>Le type de cache "fourre-tout", ce type de cache peut comporter des énigmes complexes que vous devez d’abord résoudre pour déterminer les coordonnées. Les caches Mystère/Puzzle comprennent des géocaches à la fois nouvelles et uniques qui ne rentrent pas dans une autre catégorie.</p>
							</li>

						</ul>
					</div>
					<div class="4u">
						<ul class="special-icons">
							<li>
								<span class="fa"><img src="public/images/MULTIBIG.gif" alt="Cache Multi"></span>
								<h3>Multi-cache</h3>
								<p>Une multi-cache comporte deux étapes ou plus. L’étape finale est constituée d'un conteneur physique avec un logbook à l'intérieur. Il y a beaucoup de variantes, mais pour la plupart, vous trouverez à la première étape une indication quant à l’emplacement de la seconde. A la seconde une indication quant à l’emplacement de la troisième, et ainsi de suite.</p>
							</li>

						</ul>
					</div>
				</div>
				<div class="row flush">
					<div class="4u">
						<ul class="special-icons">
							<li>
								<span class="fa"><img src="public/images/EARTHCACHEBIG.gif" alt="Earthcache"></span>
								<h3>EarthCache</h3>
								<p>Une EarthCache est un lieu particulier que vous pouvez visiter pour en savoir plus sur une particularité géologique de notre planète. Les descriptions des EarthCaches comprennent un ensemble de notes éducatives avec des coordonnées. Les visiteurs des EarthCaches peuvent découvrir comment notre planète a été façonnée par des processus géologiques, comment gérer ses ressources et comment les scientifiques recueillent des observations pour accroître leur connaissance de la Terre. Pour plus d’informations sur les EarthCaches, consultez <a href="http://www.earthcache.org/">http://www.earthcache.org/.</a></p>
							</li>

						</ul>
					</div>
					<div class="4u">
						<ul class="special-icons">
							<li>
								<span class="fa"><img src="public/images/LETTERBOXBIG.gif" alt="Letterbox"></span>
								<h3>Boîte aux lettres hybride</h3>
								<p>Letterboxing est un autre style de chasse au trésor, qui utilise des indices au lieu de coordonnées. Dans certains cas, il peut arriver que le propriétaire en ait fait à la fois une Letterbox et une géocache et ait publié ses coordonnées sur Geocaching.com. Ce type de géocache contient un tampon qui est destiné à rester dans la boîte afin que les visiteurs puissent l'utiliser pour enregistrer leur visite. Pour en savoir plus sur le Letterboxing, visitez <a href="http://www.letterboxing.org/">le site Web Letterboxing North America.</a></p>
							</li>

						</ul>
					</div>
					<div class="4u">
						<ul class="special-icons">
							<li>
								<span class="fa"><img src="public/images/EVENTBIG.gif" alt="Cache Event"></span>
								<h3>Event</h3>
								<p>Une cache Event est une rencontre de géocacheurs locaux ou d'organisations de Géocaching. La page de l'Event précise les horaires de la rencontre et fournit les coordonnées de son lieu. Après la rencontre, la cache Event est archivée.</p>
							</li>

						</ul>
					</div>
				</div>
				<div class="row flush">
					<div class="4u">
						<ul class="special-icons">
							<li>
								<span class="fa"><img src="public/images/CITOBIG.gif" alt="CITO Event"></span>
								<h3>Event Cache In Trash Out (CITO)</h3>
								<p><a href="http://www.geocaching.com/cito/default.aspx">Cache In Trash Out</a> est une initiative environnementale soutenue par la communauté du Géocaching. L'objectif principal de ce programme est de nettoyer et de préserver les espaces naturels que nous côtoyons pendant le Géocaching. Ces Events sont de grands rassemblements dans lesquels les participants se concentrent sur le ramassage de détritus, le retrait des espèces de plantes envahissantes, la plantation d'arbres et de végétation.</p>
							</li>

						</ul>
					</div>
					<div class="4u">
						<ul class="special-icons">
							<li>
								<span class="fa"><img src="public/images/WHERIGOBIG.gif" alt="Cache Wherigo"></span>
								<h3>Cache Wherigo</h3>
								<p>Wherigo est un ensemble d'outils permettant de créer et de jouer, dans le monde réel, à des aventures rendues possibles grâce à l'utilisation d'un GPS. En associant une aventure Wherigo, appelée une cartouche, avec la recherche d’une cache, le Géocaching peut devenir encore plus intéressant. Entre autres utilisations, les aventures Wherigo permettent aux géocacheurs d'interagir avec des éléments physiques et virtuels, comme des objets ou des personnages, tout en pouvant encore trouver une boîte de géocache bien réelle. Un GPS compatible avec Wherigo est requis pour pouvoir jouer une cartouche. Apprenez-en plus sur plus <a href="http://www.wherigo.com/">Wherigo.com.</a></p>
							</li>

						</ul>
					</div>
					<div class="4u">
						<ul class="special-icons">
							<li>
								<span class="fa"><img src="public/images/WEBCAMBIG.gif" alt="Cache Webcam"></span>
								<h3>Cache Webcam</h3>
								<p>Ce sont des géocaches qui utilisent des webcams déjà existantes et qui filment des endroits variés comme des parcs ou des complexes d'affaires. L'idée est de se positionner dans le champ de la caméra et d'enregistrer une image issue du site sur lequel la webcam diffuse, dans le but de loguer. Vous pouvez trouver les nouvelles caches webcam dans la <a href="http://www.waymarking.com/cat/details.aspx?f=1&guid=d23f8e0b-2e43-4530-8f46-2e4fdae93ddd">Catégorie des caches webcam sur Waymarking.com.</a></p>
							</li>

						</ul>
					</div>
				</div>
			</section>

			<br><br>
			<section>
				<header class="major">
					<h2>Quelques explications complémentaires</h2>
					<span class="byline">Extraites du site Geocaching.com</span>
				</header>
				<p><b>Où sont placées les caches ?</b><br>
				On retrouve des géocaches partout dans le monde. Des géocacheurs dissimulent souvent des caches dans des emplacements qui leur sont importants et qui reflètent un intérêt spécial ou une habileté du propriétaire de la cache. Ces emplacements peuvent être divers. Elles peuvent se trouver dans un parc en ville, au terme d'une grande randonnée, sous l'eau ou le long d'une rue en ville.</p>

				<p><b>Y a-t-il différents types de géocaches ?</b><br>
				Oui. Le Géocaching compte actuellement plus d'une douzaine de "types de caches", chaque type de cache représentant un aspect différent du jeu. Vous pouvez trouver des caches traditionnelles (simples coordonnées GPS), des multi (série d’indices à trouver), des mystères (énigme à résoudre pour trouver les coordonnées), ou encore des caches plus spécifiques comme des Earthcaches (découverte du patrimoine géologique) ou bien des Wherigo (application interactive depuis smartphone / tablette).</p>

				<img src="public/images/geocaches.jpg" align="right" alt="Rudiments du Geocaching">

				<p><b>De quoi a l’air une cache ?</b><br>
				Il y a beaucoup de variation dans la taille et dans l'apparence des géocaches. Sur le terrain, vous verrez un peu de tout, de grands contenants en plastique transparent, aux boîtes étanches pour film, aux fausses roches munies d'un compartiment secret. Alors, comment trouverez-vous la cache ?<br>
				La première étape consiste de se faire une idée générale de la taille de la cache. Celle-ci figure sur chaque page de cache. Vous trouverez ci-dessous un aperçu du graphique de la taille des caches. Veuillez noter que ce ne sont que des exemples ; les tailles peuvent varier.</p>

				<p><b>Micro</b> - moins que 100 ml. Exemples: une boîte étanche de film de 35 mm ou une boîte minuscule qui ne contient qu'un journal (Log-book) ou une feuille de journal. Une cache nano est un sous-type commun d'une cache micro ayant moins de 10 ml et qui ne contient qu'une petite feuille de journal.</p>

				<p><b>Petite (small)</b> - 100 ml ou plus, mais moins que 1 L. Exemple : Un contenant de sandwich en plastique ou quelque chose de semblable.</p>

				<p><b>Régulière (regular)</b> - 1 L ou plus, mais moins que 20 L. Exemples : un contenant en plastique ou une boîte de munitions d'environ la taille d'une boîte à chaussure.</p>

				<p><b>Grande (large)</b> - 20 L ou plus. Exemple - Un gros seau.</p>

			</section>
		</div>
	</div>
	<% include ./partials/footer %>
	</body>
</html>
