<!DOCTYPE HTML>
<html>
	<head>
		<title>REGLES DU JEU - Géocaching Jeux de Sophia 2015</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Geocaching Jeux de Sophia 2015<" />
		<meta name="keywords" content="Geocaching" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63609133-1', 'auto');
  ga('send', 'pageview');

</script>
	</head>
	<body>

		<!-- Header Wrapper -->
			<div class="wrapper style1">
			
			<!-- Header -->
				<div id="header">
					<div class="container">
							
						<!-- Logo -->
							<h1><a href="/" id="logo">Géocaching</a></h1>
						
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a href="/">Accueil</a></li>
									<li><a href="/geocaches">Les Caches à trouver</a></li>
									<li class="active"><a href="/geocaching">Régles du jeu</a></li>
									<li><a href="/tools">Les Outils</a></li>
								</ul>
							</nav>
	
					</div>
				</div>
			</div>
		
		<!-- Main -->
			<div id="main" class="wrapper style4">

				<!-- Content -->
				<div id="content" class="container">
					
					<section>
						<header class="major">
							<h2>Les régles du jeu</h2>
							<span class="byline">Extraites du site Geocaching.com</span>
						</header>
						<p><b>Où sont placées les caches ?</b><br>
On retrouve des géocaches partout dans le monde. Des géocacheurs dissimulent souvent des caches dans des emplacements qui leur sont importants et qui reflètent un intérêt spécial ou une habileté du propriétaire de la cache. Ces emplacements peuvent être divers. Elles peuvent se trouver dans un parc en ville, au terme d'une grande randonnée, sous l'eau ou le long d'une rue en ville.</p>

<p><b>Y a-t-il différents types de géocaches ?</b><br>
Oui. Le Géocaching compte actuellement plus d'une douzaine de "types de caches", chaque type de cache représentant un aspect différent du jeu. Vous pouvez trouver des caches traditionnelles (simples coordonnées GPS), des multi (série d’indices à trouver), des mystères (énigme à résoudre pour trouver les coordonnées), ou encore des caches plus spécifiques comme des Earthcaches (découverte du patrimoine géologique) ou bien des Wherigo (application interactive depuis smartphone / tablette).</p>
 
  <img src="images/geocaches.jpg" align="right" alt="Rudiments du Geocaching">

<p><b>De quoi a l’air une cache ?</b><br>
Il y a beaucoup de variation dans la taille et dans l'apparence des géocaches. Sur le terrain, vous verrez un peu de tout, de grands contenants en plastique transparent, aux boîtes étanches pour film, aux fausses roches munies d'un compartiment secret. Alors, comment trouverez-vous la cache ?<br>
La première étape consiste de se faire une idée générale de la taille de la cache. Celle-ci figure sur chaque page de cache. Vous trouverez ci-dessous un aperçu du graphique de la taille des caches. Veuillez noter que ce ne sont que des exemples ; les tailles peuvent varier.</p>
 
<p><b>Micro</b> - moins que 100 ml. Exemples: une boîte étanche de film de 35 mm ou une boîte minuscule qui ne contient qu'un journal (Log-book) ou une feuille de journal. Une cache nano est un sous-type commun d'une cache micro ayant moins de 10 ml et qui ne contient qu'une petite feuille de journal.</p>
 
<p><b>Petite (small)</b> - 100 ml ou plus, mais moins que 1 L. Exemple : Un contenant de sandwich en plastique ou quelque chose de semblable.</p>
 
<p><b>Régulière (regular)</b> - 1 L ou plus, mais moins que 20 L. Exemples : un contenant en plastique ou une boîte de munitions d'environ la taille d'une boîte à chaussure.</p>
 
<p><b>Grande (large)</b> - 20 L ou plus. Exemple - Un gros seau.</p>

					</section>
<br /><br />
					<section>
						<header class="major">
							<h2>Recommandations</h2>
							<span class="byline">Soyez respecteux de l'environnement et discret pendant vos recherches ;-)</span>
						</header>
						<p>Dans le but de préserver la nature, les géocaches sont disposées à proximité des sentiers et des pistes. Merci de ne pas piétiner les zones vertes et fleuries, et de ne pas briser les branches.</p>
						<p>Merci également de récupérer vos déchets. Le Géocaching est une activité éco-friendly !</p>

						<p>Il est inutile de s'aventurer dans un endroit jugé dangereux ou seulement risqué, interdit, privé, ... Les géocaches sont placées dans des lieux accessibles au public sans danger. A vous de trouver le chemin le plus simple !</p>

						<p><b>Enfin aux abords d’une géocache, soyez discret en présence de personnes non initiées. Dans le but de préserver l’emplacement de la cache et sa découverte par les prochains géocacheurs ;-)</b></p>
					</section>
				</div>
			</div>
		

	<!-- Footer -->
		<div id="footer">
			<section class="container">
				<header class="major">
					<h2>Envie de partager vos aventures ?</h2>
					<span class="byline">Venez nous rencontrer tous les mardis du mois de juin - <a href="https://www.google.fr/maps/search/place+bermond+sophia+antipolis/@43.6220192,7.0397204,20z">Place Bermond à Sophia</a></span>
				</header>
				<ul class="icons">
					<li class="active"><a href="https://www.facebook.com/jeuxdesophia" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="https://twitter.com/jeuxdesophia" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="mailto:geocaching@jeuxdesophia.com" class="fa fa-envelope"><span>Email</span></a></li>
					<li><a href="http://www.jeuxdesophia.com/index.php?option=com_epreuves&view=details&id=71" class="fa fa-calendar"><span>Site des Jeux</span></a></li>
				</ul>
				<hr />
			</section>
			
			<!-- Copyright -->
				<div id="copyright">21éme édition des Jeux de Sophia - Epreuve Géocaching <br> mai-juin 2015
									<p>Ce site n'est pas un site officiel Geocaching.com</p>		
				</div>			
		</div>

	</body>
</html>