<!DOCTYPE HTML>
<html>
	<head>
		<title>Geocaching Jeux de Sophia 2015</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Geocaching Jeux de Sophia 2015<" />
		<meta name="keywords" content="Geocaching" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header Wrapper -->
			<div class="wrapper style1">
			
			<!-- Header -->
				<div id="header">
					<div class="container">
							
						<!-- Logo -->
							<h1><a href="#" id="logo">Géocaching</a></h1>
						
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="active"><a href="/">Accueil</a></li>
									<li><a href="/geocaches">Les Caches à trouver</a></li>
									<li><a href="/geocaching">Le Geocaching</a></li>
									<li><a href="/tools">Les Outils</a></li>
									<li><a href="/contact">Contact</a></li>
								</ul>
							</nav>
	
					</div>
				</div>
				
			<!-- Banner -->
				<div id="banner">
					<section class="container">
						<h2>Epreuve Géocaching</h2>
						<span>Jeux de Sophia 2015</span>
						<p>Une des nouveautés de cette 21ème édition est de vous présenter une activité de loisir internationale venue tout droit des États-Unis : le Géocaching !</p>
					</section>
				</div>

			</div>
		
		<!-- Section One -->
			<div class="wrapper style2">
				<section class="container">
					<div class="row double">
						<div class="6u">
							<header class="major">
								<h2>Déroulement de l'animation</h2>
								<span class="byline">Briefings et débriefings prévus les mardis 2, 9, 16 et 23 juin à midi à la Société Générale de la Place Bermond.
Nous seront présents pour vous guider dans cette nouvelle initiation et recueillir vos résultats.</span>
							</header>
						</div>
						<div class="6u">
							<h3>Comment faire ?</h3>
							<p>Les géocaches pourront être cherchées sur le temps que vous voulez, dans l’ordre que vous voulez. Un code pourra être flashé dans chaque boite pour confirmer la preuve de votre passage, et un carnet sera disponible pour que vous notiez votre nom de joueur ou d’équipe à chaque lieu.</p>
							<a href="http://www.jeuxdesophia.com/index.php?option=com_epreuves&view=details&id=71" class="button">Voir la fiche épreuve</a>
						</div>
					</div>
				</section>
			</div>

		<!-- Section Two -->
			<div class="wrapper style3">
				<section class="container">
					<header class="major">
						<h2>Rudiments du Géocaching</h2>
					</header>
					<p>Le Géocaching est une vraie chasse au trésor pratiquée à l'extérieur à l'aide d'appareils GPS. Les participants rejoignent des coordonnées spécifiques où ils tentent de trouver la géocache (boîte) qui y est dissimulée.</p>
					<a href="http://www.geocaching.com" class="button alt">www.geocaching.com</a>
				</section>
			</div>

		<!-- Section Three -->
			<div class="wrapper style4">
				<section class="container">
					<header class="major">
						<h2>Quelques conseils pour vous aider</h2>
						<span class="byline">Nous vous conseillons de vous créer un compte sur le site <a href="http://www.geocaching.com">www.geocaching.com</a>, mais cela reste optionnel pour le déroulement de l'épreuve Géocaching aux jeux de Sophia.</span>
					</header>
					<div class="row flush">
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-location-arrow"></span>
									<h3>Le GPS</h3>
									<p>Vous devez posséder un GPS de randonnée ou un smartphone équipé d'une application type boussole GPS</p>
								</li>
								
							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-pencil"></span>
									<h3>Un stylo</h3>
									<p>Très important d'avoir un stylo sur vous pour écrire votre pseudo et la date sur le logbook</p>
								</li>
								
							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-leaf"></span>
									<h3>Une tenue de rando</h3>
									<p>Soyez équipés d'une bonne paire de chaussures et de vêtements pour vous protéger de la végétation et du soleil</p>
								</li>
								
							</ul>
						</div>
					</div>

					<center><a href="/tools" class="button">Voir les applications mobiles conseillées</a></center>

				</section>
			</div>
		
		<!-- Team -->
			<div class="wrapper style5">
				<section id="team" class="container">
					<header class="major">
						<h2>Les Géocaches posées pour les Jeux de Sophia</h2>
						<span class="byline">Voici les dernières géocaches publiées pour l'épreuve</span>
					</header>
					<div class="row">
						<div class="3u">
							<a href="/geocache?id=BHogAMgyew" class="image"><img src="images/JosephBermond.jpg" alt="Joseph Bermond"></a>
							<h3>Place Joseph Bermond</h3>
							<p>Une géocache facile pour débuter ;-)</p>
						</div>
						<div class="3u">
							<a href="/geocache?id=" class="image"><img src="images/placeholder.png" alt=""></a>
							<h3>Henry Dorsett Case</h3>
							<p>In posuere eleifend odio quisque semper augue wisi ligula.</p>
						</div>
						<div class="3u">
							<a href="/geocache?id=" class="image"><img src="images/placeholder.png" alt=""></a>
							<h3>Willis Corto</h3>
							<p>In posuere eleifend odio quisque semper augue wisi ligula.</p>
						</div>
						<div class="3u">
							<a href="/geocache?id=" class="image"><img src="images/placeholder.png" alt=""></a>
							<h3>Linda Lee</h3>
							<p>In posuere eleifend odio quisque semper augue wisi ligula.</p>
						</div>
					</div>
				</section>
			</div>

	<!-- Footer -->
		<div id="footer">
			<section class="container">
				<header class="major">
					<h2>Pour nous contacter</h2>
					<span class="byline">Venez nous rencontrer tous les mardis du mois de juin - <a href="https://www.google.fr/maps/search/place+bermond+sophia+antipolis/@43.6220192,7.0397204,20z">Place Bermond à Sophia</a></span>
				</header>
				<ul class="icons">
					<li class="active"><a href="https://www.facebook.com/jeuxdesophia" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="https://twitter.com/jeuxdesophia" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="mailto:geocaching@jeuxdesophia.com" class="fa fa-envelope"><span>Email</span></a></li>
					<li><a href="http://www.jeuxdesophia.com/index.php?option=com_epreuves&view=details&id=71" class="fa fa-calendar"><span>Site des Jeux</span></a></li>
				</ul>
				<hr />
			</section>
			
			<!-- Copyright -->
				<div id="copyright">21éme édition des Jeux de Sophia - Epreuve Géocaching <br> mai-juin 2015
				</div>			
		</div>

	</body>
</html>