<!DOCTYPE HTML>
<html>
<head>
	<title>Epreuve Géocaching des Jeux de Sophia - 2018</title>
	<% include ./partials/head %>
</head>
<body class="homepage">
	<div class="wrapper style1">

		<div id="header">
			<div class="container">

				<h1><a href="#" id="logo">Géocaching</a></h1>

				<nav id="nav">
					<ul>
						<li class="active"><a href="/">Accueil</a></li>
						<li><a href="/geocaches">Géocaches</a></li>
						<li><a href="/tbs">Objets Voyageurs</a></li>
						<li><a href="/geocaching">Règles du jeu</a></li>
						<li><a href="/tools">Outils</a></li>
						<li><a href="/ranking">Classement</a></li>
					</ul>
				</nav>

			</div>
		</div>

		<div id="banner">
			<section class="container">
				<h2>épreuve Géocaching</h2>
				<span>Jeux de Sophia 2018</span>
				<p>Entrez dans la Course aux Objets Voyageurs !</p>
			</section>
		</div>

	</div>

	<div class="wrapper style2">
		<section class="container">
			<div class="row double">
				<div class="6u">
					<header class="major">
					<h2>Déroulement de l'épreuve</h2>
					<span class="byline">&raquo; Nous serons présent les <b>mardi 15</b> et <b>jeudi 17 mai</b> entre <b>12h et 13h45</b> - <b>Place Bermond</b> pour ceux qui souhaitent des informations sur l'épreuve avant le début.</span>
					<br>
					<p class="medium">L'épreuve se déroule du 19 mai au 8 juin.</p>
					<span class="byline">Cette année, la thématique de l'épreuve va vous permettre de découvrir ce que sont <a href="/geocaching#objetsvoyageurs">les objets voyageurs en géocaching (Travel Bugs ou TB)</a>, avec l'organisation d'une course aux TB et une rencontre physique le <a href="/geocache?id=XXX">dimanche 3 juin dans un lieu restant à définir</a> pour partager ensemble nos Histoires de caches et quelques surprises.</span>
					</header>
					<a href="/geocaching" class="button">🎲 Régles du jeu</a>
				</div>
				<div class="6u">
					<h3>Comment faire ?</h3>
					<p class="medium">Allez chercher un code de suivi d'objet dans la cache <a href="/geocache?id=SAg9v68wGD">Point de Départ</a>, enregistrez votre objet , déplacez le ainsi que ceux des autres participants tout en découvrant les caches pour gagner des points. Vous pouvez visiter plusieurs fois la même cache pour faire voyager les objets. 
					<br>Plus de détails sont précisés dans <a href="/geocaching">le réglement</a>.</p>
					<p><a href="http://www.jeuxdesophia.com/jcms/rda_6290/fr/geocaching" alt="Fiche épreuve géocaching site JDS" class="button">&raquo; S'inscrire à l'épreuve</a></p>
					<p><a href="/register" alt="Enregistrer son objet" class="button">&raquo; Enregister son objet voyageur 🗿</a></p> 
					<!-- <a href="/geocaches" alt="Liste des geocaches à trouver épreuve géocaching JDS" class="button">&raquo; Voir les géocaches</a> -->
				</div>
			</div>
		</section>
	</div>

	<div class="wrapper style3">
		<section class="container">
			<header class="major">
				<h2>Rudiments du Géocaching</h2>
			</header>
			<p>Le Géocaching est une vraie chasse au trésor pratiquée à l'extérieur à l'aide d'appareils GPS. Les participants rejoignent des coordonnées spécifiques où ils tentent de trouver la géocache (boîte) qui y est dissimulée.</p>
			<a href="http://www.geocaching.com" class="button alt">www.geocaching.com</a>
		</section>
	</div>

	<div class="wrapper style4">
		<section class="container">
			<header class="major">
				<h2>Quelques conseils pour vous aider</h2>
				<span class="byline">Nous vous conseillons de vous créer un compte sur le site <a href="http://www.geocaching.com">www.geocaching.com</a>, mais cela reste optionnel pour le déroulement de l'épreuve Géocaching aux jeux de Sophia.</span>
			</header>
			<div class="row flush">
				<div class="4u">
					<ul class="special-icons">
						<li>
							<span class="fa fa-location-arrow"></span>
							<h3>Le GPS</h3>
							<p>Vous devez posséder un GPS de randonnée ou un smartphone équipé d'une application type boussole GPS</p>
						</li>
					</ul>
				</div>
				<div class="4u">
					<ul class="special-icons">
						<li>
							<span class="fa fa-pencil"></span>
							<h3>Un stylo</h3>
							<p>Très important d'avoir un stylo sur vous pour écrire votre pseudo et la date sur le logbook</p>
						</li>
					</ul>
				</div>
				<div class="4u">
					<ul class="special-icons">
						<li>
							<span class="fa fa-leaf"></span>
							<h3>Une tenue de rando</h3>
							<p>Soyez équipés d'une bonne paire de chaussures et de vêtements pour vous protéger de la végétation et du soleil</p>
						</li>
					</ul>
				</div>
			</div>

			<center><a href="/tools" class="button">Voir les applications mobiles conseillées</a></center>

		</section>
	</div>

	<div class="wrapper style5">
		<section id="team" class="container">
			<header class="major">
				<h2>Publications sur le site Geocaching.com</h2>
				<span class="byline">Le Best-Of JDS 2017 est accessible à tous les géocacheurs de la Terre</span>
			</header>
			<div class="row">
				<div class="3u">
					<a href="https://coord.info/GC76MQP" class="image"><img src="public/images/blockchain.jpg" width="220" alt="Blockchain"></a>
					<h3>[JdS 2017] Blockchain</h3>
					<p>Sur les traces de Satoshi Nakamoto...</p>
				</div>
				<div class="3u">
					<a href="https://coord.info/GC76W62" class="image"><img src="public/images/yinyang.jpg" width="220" alt="Les deux font la paire"></a>
					<h3>[JdS 2017] Les deux font la paire</h3>
					<p>Comme le Yin et le Yang</p>
				</div>
				<div class="3u">
					<a href="https://coord.info/GC76W5J" class="image"><img src="public/images/croquis.jpg" width="220" alt="Trouve ton chemin"></a>
					<h3>[JdS 2017] Trouve ton chemin</h3>
					<p>Si tu aimes dessiner et te perdre en forêt...</p>
				</div>
				<div class="3u">
					<a href="https://coord.info/GC76Z2R" class="image"><img src="public/images/la-toile.jpg" width="220" alt="Night cache - La toile"></a>
					<h3>[JdS 2017] Night cache - La toile</h3>
					<p>Priez pour ne pas la croiser...</p>
				</div>
			</div>
			<a href="/geocaches" class="button alt">Voir toutes les caches</a>
		</section>
	</div>

	<% include ./partials/footer %>

</body>
</html>
