<!DOCTYPE HTML>
<html>
<head>
	<title>Epreuve Géocaching des Jeux de Sophia - 2019</title>
	<% include ./partials/head %>
</head>
<body class="homepage">
	<div class="wrapper style1">

		<div id="header">
			<div class="container">

				<h1><a href="#" id="logo">Géocaching</a></h1>

				<nav id="nav">
					<ul>
						<li class="active"><a href="/">Accueil</a></li>
						<li><a href="/geocaches">Géocaches</a></li>
						<li><a href="/geocaching">Règles du jeu</a></li>
						<li><a href="/tools">Outils</a></li>
						<li><a href="/ranking">Classement</a></li>
					</ul>
				</nav>

			</div>
		</div>

		<div id="banner">
			<section class="container">
				<h2>épreuve Géocaching</h2>
				<span>Jeux de Sophia 2019</span>
				<p>a vous de créer, cacher, trouver !</p>
			</section>
		</div>

	</div>

	<div class="wrapper style2">
		<section class="container">
			<div class="row double">
				<div class="6u">
					<header class="major">
					<h2>Déroulement de l'épreuve</h2>
					<p class="medium">Cette année, on inverse les rôles ! Cacher une géocache est une grande étape dans la vie de tout géocacheur.</p>
						<span class="byline">🆕 l'épreuve est organisée en deux parties :
							<ol style="list-style-type:decimal; margin-left: 40px; margin-top: 10px;">
								<li>🎨 <b>Création</b> - du 20 mai au 9 juin - les participants qui le souhaitent peuvent créer seul ou en groupe leur propre cache.</li>
								<li>🔎 <b>Recherche</b> - du 27 mai au 16 juin - tous les participants peuvent découvrir les caches posées en première partie.</li>
							</ol>
							<!-- <span style="font-size: larger">Un événement rencontre pour fêter le lancement de l'épreuve aura lieu le <a href="/geocache?id=mF4iEjwTP9">Mardi 21 mai - Stade des Bouillides - 17h30 à 20h30</a> avec des ateliers pour découvrir les bonnes pratiques de la pose de géocaches.</span> -->
						</span>
					</header>
				</div>
				<div class="6u">
					<h3>Comment participer ?</h3>
					<p class="medium">En étant inscrit à l'épreuve sur <a href="https://www.jeuxdesophia.com/epreuves/231/details">le site officiel</a>, nous enverrons sur votre email d'inscription au lancement de l'épreuve
						un lien personnel vous permettant d'accèder à la page de création de votre géocache. (<i>la création reste facultative, vous pouvez aussi le faire en équipe. Pour cela <a href="mailto:geocaching@jeuxdesophia.com">contactez-nous directement</a></i>).</p>
					<!-- <p><a href="https://www.jeuxdesophia.com/epreuves/231/details" class="button">&raquo; S'inscrire à l'épreuve</a></p> -->
					<p><a href="/geocaches" alt="Liste des géocaches à trouver épreuve géocaching JDS" class="button">&raquo; Voir les géocaches</a></p>
					<p><a href="/geocaching" class="button">🎲 Régles du jeu</a></p>
				</div>
			</div>
		</section>
	</div>

	<div class="wrapper style3">
		<section class="container">
			<header class="major">
				<h2>Rudiments du Géocaching</h2>
			</header>
			<p>Le Géocaching est une vraie chasse au trésor pratiquée à l'extérieur à l'aide d'appareils GPS. Les participants rejoignent des coordonnées spécifiques où ils tentent de trouver la géocache (boîte) qui y est dissimulée.</p>
			<a href="http://www.geocaching.com" class="button alt">www.geocaching.com</a>
		</section>
	</div>

	<div class="wrapper style4">
		<section class="container">
			<header class="major">
				<h2>Quelques conseils pour vous aider</h2>
				<span class="byline">Nous vous conseillons de vous créer un compte sur le site <a href="http://www.geocaching.com">www.geocaching.com</a>, mais cela reste optionnel pour le déroulement de l'épreuve Géocaching aux jeux de Sophia.</span>
			</header>
			<div class="row flush">
				<div class="4u">
					<ul class="special-icons">
						<li>
							<span class="fa fa-location-arrow"></span>
							<h3>Le GPS</h3>
							<p>Vous devez posséder un GPS de randonnée ou un smartphone équipé d'une application type boussole GPS</p>
						</li>
					</ul>
				</div>
				<div class="4u">
					<ul class="special-icons">
						<li>
							<span class="fa fa-pencil"></span>
							<h3>Un stylo</h3>
							<p>Très important d'avoir un stylo sur vous pour écrire votre pseudo et la date sur le logbook</p>
						</li>
					</ul>
				</div>
				<div class="4u">
					<ul class="special-icons">
						<li>
							<span class="fa fa-leaf"></span>
							<h3>Une tenue de rando</h3>
							<p>Soyez équipés d'une bonne paire de chaussures et de vêtements pour vous protéger de la végétation et du soleil</p>
						</li>
					</ul>
				</div>
			</div>

			<center><a href="/tools" class="button">Voir les applications mobiles conseillées</a></center>

		</section>
	</div>

	<div class="wrapper style5">
		<section id="team" class="container">
			<header class="major">
				<h2>Publications sur le site Geocaching.com</h2>
				<span class="byline">Le Best-Of JDS 2017 est accessible à tous les géocacheurs de la Terre</span>
			</header>
			<div class="row">
				<div class="3u">
					<a href="https://coord.info/GC76MQP" class="image"><img src="public/images/blockchain.jpg" width="220" alt="Blockchain"></a>
					<h3>[JdS 2017] Blockchain</h3>
					<p>Sur les traces de Satoshi Nakamoto...</p>
				</div>
				<div class="3u">
					<a href="https://coord.info/GC76W62" class="image"><img src="public/images/yinyang.jpg" width="220" alt="Les deux font la paire"></a>
					<h3>[JdS 2017] Les deux font la paire</h3>
					<p>Comme le Yin et le Yang</p>
				</div>
				<div class="3u">
					<a href="https://coord.info/GC76W5J" class="image"><img src="public/images/croquis.jpg" width="220" alt="Trouve ton chemin"></a>
					<h3>[JdS 2017] Trouve ton chemin</h3>
					<p>Si tu aimes dessiner et te perdre en forêt...</p>
				</div>
				<div class="3u">
					<a href="https://coord.info/GC76Z2R" class="image"><img src="public/images/la-toile.jpg" width="220" alt="Night cache - La toile"></a>
					<h3>[JdS 2017] Night cache - La toile</h3>
					<p>Priez pour ne pas la croiser...</p>
				</div>
			</div>
			<a href="/geocaches" class="button alt">Voir toutes les caches</a>
		</section>
	</div>

	<% include ./partials/footer %>

</body>
</html>
