<!DOCTYPE HTML>
<html>
<head>
	<title>Géocaching Jeux de Sophia 2018</title>
	<% include ./partials/head %>
</head>
<body>
	<% include ./partials/menu %>

	<div id="main" class="wrapper style4">

		<div id="content" class="container">
			<section>

				<p><h3>Score de <i><%= pseudo %></i></h3></p>

				<p><%- score %></p>

			</section>
			<br />

			


		</div>
	</div>
	<% include ./partials/footer %>

</body>
</html>