<!DOCTYPE HTML>
<html>
<head>
	<title>OK</title>
	<% include ./partials/head %>
</head>
<body class="homepage">
	<div class="wrapper style1">
		<div id="header">
			<div class="container">
				<h1><a href="/" id="logo">Géocaching</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/ranking">Ranking</a></li>
					</ul>
				</nav>

			</div>
		</div>

	</div>
	<div id="footer">

	</div>

</body>
</html>