	<!DOCTYPE HTML>
	<html>
	<head>
		<title>PHOTOS DE LA COURSE AUX OBJETS VOYAGEURS - Géocaching Jeux de Sophia 2018</title>
		<% include ./partials/head %>
		<link rel="stylesheet" href="css/grid.css" />
	</head>
	<body>

		<% include ./partials/menu %>
		
		<div id="main" class="wrapper style4">

			<div id="intro" class="container">
				<section>
					<header class="major">
						<h2>Toutes les photos de l'épreuve</h2>
						<span class="byline">A vous de jouer, les caches sont accessibles 7j/7 et 24h/24 !</span>				
					</header>

					<div id="gridsalv" data-columns>

						<% logs.forEach(function(log) { %>

						<div>
							<a href="<%= log.get("PhotoUrl") %>"><img width="250px;" class="border" src="<%= log.get("PhotoUrl") %>" /><p class="medium"><%= log.get("Geocache").get("Nom") %> - <b><%= log.get("Pseudo") %></b></p>
							</a>
						</div>
						<% }); %>

					</div>
				</section>
			</div>
		</div>

		<% include ./partials/footer %>
		<script src="public/js/salvattore.min.js"></script>
	</body>
	</html>