	<!DOCTYPE HTML>
	<html>
	<head>
		<title>PHOTOS DE LA COURSE AUX ICONES - Géocaching Jeux de Sophia 2017</title>
		<% include ./partials/head %>
		<link rel="stylesheet" href="css/grid.css" />
	</head>
	<body>

		<div class="wrapper style1">

			<div id="header">
				<div class="container">

					<h1><a href="/" id="logo">Géocaching</a></h1>

					<nav id="nav">
						<ul>
							<li><a href="/">Accueil</a></li>
							<li class="active"><a href="/geocaches">Les Caches à trouver</a></li>
							<li><a href="/geocaching">Règles du jeu</a></li>
							<li><a href="/tools">Les Outils</a></li>
							<li><a href="/ranking">Classement</a></li>
						</ul>
					</nav>

				</div>
			</div>
		</div>

		<div id="main" class="wrapper style4">

			<div id="intro" class="container">
				<section>
					<header class="major">
						<h2>Toutes les photos de l'épreuve</h2>
						<span class="byline">A vous de jouer, les caches sont accessibles 7j/7 et 24h/24 !</span>				
					</header>

					<div id="gridsalv" data-columns>

						<% logs.forEach(function(log) { %>

						<div>
							<a href="<%= log.get("PhotoUrl") %>"><img width="250px;" class="border" src="<%= log.get("PhotoUrl") %>" /><p class="medium"><%= log.get("Geocache").get("Nom") %> - <b><%= log.get("Pseudo") %></b></p>
							</a>
						</div>
						<% }); %>

					</div>
				</section>
			</div>
		</div>

		<div class="wrapper style2">

			<div id="liste" class="container">
				<section>

				</section>
			</div>
		</div>

		<div class="wrapper style5">

			<div id="carte" class="container">

				<section>
					
					<a href="/ranking" class="button alt">Voir le classement</a>

				</section>
			</div>
		</div>

		<% include ./partials/footer %>
		<script src="public/js/salvattore.min.js"></script>
	</body>
	</html>