<!DOCTYPE HTML>
<html>
<head>
	<title>Classement 2017 - Géocaching Jeux de Sophia</title>
	<% include ./partials/head %>
	<link rel="stylesheet" href="public/css/style-table.css">
</head>
<body>

	<div class="wrapper style1">

		<div id="header">
			<div class="container">

				<h1><a href="/" id="logo">Géocaching</a></h1>

				<nav id="nav">
					<ul>
						<li><a href="/">Accueil</a></li>
						<li><a href="/geocaches">Géocaches</a></li>
						<li><a href="/tbs">Objets Voyageurs</a></li>
						<li><a href="/geocaching">Règles du jeu</a></li>
						<li><a href="/tools">Outils</a></li>
						<li class="active"><a href="/ranking">Classement</a></li>
					</ul>
				</nav>

			</div>
		</div>
	</div>

	<div id="main" class="wrapper style4">

		<div id="content" class="container">
			<section>
				<header class="major">
					<h2>Classement Général 2017</h2>
				</header>

				<table class="zebra">
					<thead>
						<tr>
							<th>
								<b>N°</b>
							</th>
							<th>
								<b>Pseudo</b>
							</th>
							<th>
								<b>Points</b>
							</th>
							<th>
								<b>Caches trouvées</b><br><i>(20pt / cache)</i>
							</th>
							<th>
								<b>FTF</b><br><i>(3pt / cache)</i>
							</th>
							<th>
								<b>STF</b><br><i>(2pt / cache)</i>
							</th>
							<th>
								<b>TTF</b><br><i>(1pt / cache)</i>
							</th>
							<th>
								<b>Score D/T</b><br><i>(1pt / etoile)</i>
							</th>
						</tr>
					</thead>

					<tfoot>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tfoot>
					
					<tbody>
						<tr>
							<td>1</td>
							<td>Sdrean</td>
							<td>456</td>
							<td>17</td>
							<td>7</td>
							<td>7</td>
							<td>0</td>
							<td>81</td>
						</tr>
						
						<tr>
							<td>2</td>
							<td>Npages</td>
							<td>446</td>
							<td>17</td>
							<td>4</td>
							<td>6</td>
							<td>1</td>
							<td>81</td>
						</tr>
						
						<tr>
							<td>3</td>
							<td>Tevarrang</td>
							<td>439</td>
							<td>17</td>
							<td>3</td>
							<td>3</td>
							<td>3</td>
							<td>81</td>
						</tr>
						
						<tr>
							<td>4</td>
							<td>Florian_06</td>
							<td>436</td>
							<td>17</td>
							<td>3</td>
							<td>2</td>
							<td>2</td>
							<td>81</td>
						</tr>
						
						<tr>
							<td>5</td>
							<td>Jekho</td>
							<td>433</td>
							<td>17</td>
							<td>2</td>
							<td>2</td>
							<td>2</td>
							<td>81</td>
						</tr>
						
						<tr>
							<td>6</td>
							<td>Skyzy</td>
							<td>428</td>
							<td>17</td>
							<td>1</td>
							<td>1</td>
							<td>2</td>
							<td>81</td>
						</tr>
						
						<tr>
							<td>7</td>
							<td>Stephzap</td>
							<td>427</td>
							<td>17</td>
							<td>1</td>
							<td>0</td>
							<td>3</td>
							<td>81</td>
						</tr>
						
						<tr>
							<td>8</td>
							<td>M les Ronces</td>
							<td>397</td>
							<td>16</td>
							<td>0</td>
							<td>1</td>
							<td>1</td>
							<td>74</td>
						</tr>
						
						<tr>
							<td>9</td>
							<td>stefdel06</td>
							<td>397</td>
							<td>16</td>
							<td>1</td>
							<td>0</td>
							<td>0</td>
							<td>74</td>
						</tr>
						
						<tr>
							<td>10</td>
							<td>Revio</td>
							<td>394</td>
							<td>16</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>74</td>
						</tr>
						
						<tr>
							<td>11</td>
							<td>vincentb06</td>
							<td>394</td>
							<td>16</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>74</td>
						</tr>
						
						<tr>
							<td>12</td>
							<td>Xperte</td>
							<td>389</td>
							<td>16</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>69</td>
						</tr>
						
						<tr>
							<td>13</td>
							<td>Les Cholitas</td>
							<td>378</td>
							<td>15</td>
							<td>2</td>
							<td>0</td>
							<td>1</td>
							<td>71</td>
						</tr>
						
						<tr>
							<td>14</td>
							<td>Mahafaty</td>
							<td>376</td>
							<td>15</td>
							<td>2</td>
							<td>1</td>
							<td>1</td>
							<td>67</td>
						</tr>
						
						<tr>
							<td>15</td>
							<td>Audrey MEDINA</td>
							<td>369</td>
							<td>15</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>69</td>
						</tr>
						
						<tr>
							<td>16</td>
							<td>JUGLAS</td>
							<td>367</td>
							<td>15</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>67</td>
						</tr>
						
						<tr>
							<td>17</td>
							<td>Laco</td>
							<td>359</td>
							<td>14</td>
							<td>2</td>
							<td>2</td>
							<td>1</td>
							<td>68</td>
						</tr>
						
						<tr>
							<td>18</td>
							<td>Laura08</td>
							<td>356</td>
							<td>14</td>
							<td>2</td>
							<td>2</td>
							<td>2</td>
							<td>64</td>
						</tr>
						
						<tr>
							<td>19</td>
							<td>jump06</td>
							<td>348</td>
							<td>14</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>68</td>
						</tr>
						
						<tr>
							<td>20</td>
							<td>Stf@2011</td>
							<td>321</td>
							<td>13</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>61</td>
						</tr>
						
						<tr>
							<td>21</td>
							<td>Amerour_BZH</td>
							<td>319</td>
							<td>13</td>
							<td>0</td>
							<td>0</td>
							<td>1</td>
							<td>58</td>
						</tr>
						
						<tr>
							<td>22</td>
							<td>Roro64</td>
							<td>318</td>
							<td>13</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>58</td>
						</tr>
						
						<tr>
							<td>23</td>
							<td>Pandora</td>
							<td>299</td>
							<td>12</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>59</td>
						</tr>
						
						<tr>
							<td>24</td>
							<td>Jecrus</td>
							<td>299</td>
							<td>12</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>59</td>
						</tr>
						
						<tr>
							<td>25</td>
							<td>ap@2011</td>
							<td>275</td>
							<td>11</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>55</td>
						</tr>
						
						<tr>
							<td>26</td>
							<td>Amale</td>
							<td>272</td>
							<td>11</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>52</td>
						</tr>
						
						<tr>
							<td>27</td>
							<td>c.ricard</td>
							<td>270</td>
							<td>11</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>50</td>
						</tr>
						
						<tr>
							<td>28</td>
							<td>Sylvie</td>
							<td>250</td>
							<td>10</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>50</td>
						</tr>
						
						<tr>
							<td>29</td>
							<td>Lauralex</td>
							<td>249</td>
							<td>10</td>
							<td>0</td>
							<td>0</td>
							<td>1</td>
							<td>48</td>
						</tr>
						
						<tr>
							<td>30</td>
							<td>Loic</td>
							<td>224</td>
							<td>9</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>44</td>
						</tr>
						
						<tr>
							<td>31</td>
							<td>philetquentin</td>
							<td>224</td>
							<td>9</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>44</td>
						</tr>
						
						<tr>
							<td>32</td>
							<td>Lesmousdugenou</td>
							<td>221</td>
							<td>9</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>41</td>
						</tr>
						
						<tr>
							<td>33</td>
							<td>TacTac</td>
							<td>219</td>
							<td>9</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>39</td>
						</tr>
						
						<tr>
							<td>34</td>
							<td>PaulineM84</td>
							<td>175</td>
							<td>7</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>35</td>
						</tr>
						
						<tr>
							<td>35</td>
							<td>Arthoo</td>
							<td>155</td>
							<td>6</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>35</td>
						</tr>
						
						<tr>
							<td>36</td>
							<td>r0sb1f</td>
							<td>155</td>
							<td>6</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>35</td>
						</tr>
						
						<tr>
							<td>37</td>
							<td>Tif &amp; Rémy</td>
							<td>152</td>
							<td>6</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>32</td>
						</tr>
						
						<tr>
							<td>38</td>
							<td>Manuel Godbert</td>
							<td>150</td>
							<td>6</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>30</td>
						</tr>
						
						<tr>
							<td>39</td>
							<td>Salomon Marie (les bulles)</td>
							<td>147</td>
							<td>6</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>27</td>
						</tr>
						
						<tr>
							<td>40</td>
							<td>Les novices!</td>
							<td>127</td>
							<td>5</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>27</td>
						</tr>
						
						<tr>
							<td>41</td>
							<td>DomyDub&amp;Family</td>
							<td>126</td>
							<td>5</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>26</td>
						</tr>
						
						<tr>
							<td>42</td>
							<td>Dabouta</td>
							<td>101</td>
							<td>4</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>21</td>
						</tr>
						
						<tr>
							<td>43</td>
							<td>Nina06580</td>
							<td>95</td>
							<td>4</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>15</td>
						</tr>
						
						<tr>
							<td>44</td>
							<td>Babou</td>
							<td>79</td>
							<td>3</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>19</td>
						</tr>
						
						<tr>
							<td>45</td>
							<td>Pascalou</td>
							<td>77</td>
							<td>3</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>17</td>
						</tr>
						
						<tr>
							<td>46</td>
							<td>dEM55 (les bulles)</td>
							<td>76</td>
							<td>3</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>16</td>
						</tr>
						
						<tr>
							<td>47</td>
							<td>jcr83</td>
							<td>75</td>
							<td>3</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>15</td>
						</tr>
						
						<tr>
							<td>48</td>
							<td>Rastines </td>
							<td>75</td>
							<td>3</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>15</td>
						</tr>
						
						<tr>
							<td>49</td>
							<td>EMCA</td>
							<td>67</td>
							<td>3</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>7</td>
						</tr>
						
						<tr>
							<td>50</td>
							<td>Dataforiens</td>
							<td>54</td>
							<td>2</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>14</td>
						</tr>
						
						<tr>
							<td>51</td>
							<td>Data4</td>
							<td>54</td>
							<td>2</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>14</td>
						</tr>
						
						<tr>
							<td>52</td>
							<td>Béber</td>
							<td>54</td>
							<td>2</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>14</td>
						</tr>
						
						<tr>
							<td>53</td>
							<td>Kichouki</td>
							<td>53</td>
							<td>2</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>13</td>
						</tr>
						
						<tr>
							<td>54</td>
							<td>Nyliade</td>
							<td>53</td>
							<td>2</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>13</td>
						</tr>
						
						<tr>
							<td>55</td>
							<td>Marina73</td>
							<td>53</td>
							<td>2</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>13</td>
						</tr>
						
						<tr>
							<td>56</td>
							<td>cyril1929</td>
							<td>53</td>
							<td>2</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>13</td>
						</tr>
						
						<tr>
							<td>57</td>
							<td>Mag</td>
							<td>53</td>
							<td>2</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>13</td>
						</tr>
						
						<tr>
							<td>58</td>
							<td>GC-Bosch-Team</td>
							<td>51</td>
							<td>2</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>11</td>
						</tr>
						
						<tr>
							<td>59</td>
							<td>Loupizou06</td>
							<td>48</td>
							<td>2</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>8</td>
						</tr>
						
						<tr>
							<td>60</td>
							<td>AxlCache</td>
							<td>46</td>
							<td>2</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>6</td>
						</tr>
						
						<tr>
							<td>61</td>
							<td>FX et Elo</td>
							<td>27</td>
							<td>1</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>7</td>
						</tr>
						
						<tr>
							<td>62</td>
							<td>EVDA</td>
							<td>27</td>
							<td>1</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>7</td>
						</tr>
						
						<tr>
							<td>63</td>
							<td>Chakado</td>
							<td>27</td>
							<td>1</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>7</td>
						</tr>
						
						<tr>
							<td>64</td>
							<td>Pomogier</td>
							<td>27</td>
							<td>1</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>7</td>
						</tr>
						
						<tr>
							<td>65</td>
							<td>Juju</td>
							<td>27</td>
							<td>1</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>7</td>
						</tr>
						
						<tr>
							<td>66</td>
							<td>llort</td>
							<td>26</td>
							<td>1</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>6</td>
						</tr>
						
						<tr>
							<td>67</td>
							<td>Smag</td>
							<td>26</td>
							<td>1</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>6</td>
						</tr>
						
						<tr>
							<td>68</td>
							<td>Karma</td>
							<td>25</td>
							<td>1</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>5</td>
						</tr>
						
						<tr>
							<td>69</td>
							<td>bruno.dufrenoy</td>
							<td>24</td>
							<td>1</td>
							<td>0</td>
							<td>0</td>
							<td>1</td>
							<td>3</td>
						</tr>
						
						<tr>
							<td>70</td>
							<td>Cedric Di Giorgio</td>
							<td>22</td>
							<td>1</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>2</td>
						</tr>
						
						<tr>
							<td>71</td>
							<td>Les Bulles</td>
							<td>22</td>
							<td>1</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>2</td>
						</tr>
						
					</tbody>
					
				</table>

			</section>

			<section>
				<h2>Classement FTF, STF, TTF - 2017</h2>
				<br>
				<ul style="list-style-type:decimal; margin-left:30px;">
					
					<li><b>Sdrean</b> avec 35 points </li>
					
					<li><b>Npages</b> avec 25 points </li>
					
					<li><b>Tevarrang</b> avec 18 points </li>
					
					<li><b>Florian_06</b> avec 15 points </li>
					
					<li><b>Jekho</b> avec 12 points </li>
					
					<li><b>Laura08</b> avec 12 points </li>
					
					<li><b>Laco</b> avec 11 points </li>
					
					<li><b>Mahafaty</b> avec 9 points </li>
					
					<li><b>Skyzy</b> avec 7 points </li>
					
					<li><b>Les Cholitas</b> avec 7 points </li>
					
					<li><b>Stephzap</b> avec 6 points </li>
					
					<li><b>M les Ronces</b> avec 3 points </li>
					
					<li><b>stefdel06</b> avec 3 points </li>
					
					<li><b>Lauralex</b> avec 1 point</li>
					
					<li><b>Amerour_BZH</b> avec 1 point</li>
					
					<li><b>bruno.dufrenoy</b> avec 1 point</li>
					
				</ul>

			</section>
			<br>
			<br>

			<section>
				<h2>Classement des Caches préférées - 2017</h2>
				<br>
				<ul style="list-style-type:decimal; margin-left:30px;">
					
					<li><b>6</b> 👍 (86 % des visites) pour <b><a href="/geocache?id=c2A67DtPtC"> Star </a> </b></li>

					
					<li><b>13</b> 👍 (81 % des visites) pour <b><a href="/geocache?id=66HZasd69M"> BLOCKCHAIN </a> </b></li>

					
					<li><b>25</b> 👍 (66 % des visites) pour <b><a href="/geocache?id=Ycpo920x6J"> Night cache - La toile des JDS </a> </b></li>

					
					<li><b>28</b> 👍 (57 % des visites) pour <b><a href="/geocache?id=GYFeE03hjB"> Les deux font la paire </a> </b></li>

					
					<li><b>23</b> 👍 (55 % des visites) pour <b><a href="/geocache?id=2bDMxkpLEb"> Croquis </a> </b></li>

					
					<li><b>15</b> 👍 (50 % des visites) pour <b><a href="/geocache?id=umWD1Ds9fP"> Embarquement Immédiat </a> </b></li>

					
					<li><b>15</b> 👍 (48 % des visites) pour <b><a href="/geocache?id=HuUX8XrMcD"> Histoires de Caches </a> </b></li>

					
					<li><b>20</b> 👍 (43 % des visites) pour <b><a href="/geocache?id=l67Crs4bBA"> Métiers oubliés de Sophia - Dérabaïre d&#39;argile </a> </b></li>

					
					<li><b>17</b> 👍 (40 % des visites) pour <b><a href="/geocache?id=8CCH06AF0f"> Métiers oubliés de Sophia - Gemmeurs </a> </b></li>

					
					<li><b>16</b> 👍 (37 % des visites) pour <b><a href="/geocache?id=G0Xpxn3Vzq"> La Cache Virtuelle des organisateurs bien réels </a> </b></li>

					
					<li><b>7</b> 👍 (37 % des visites) pour <b><a href="/geocache?id=YIASuLhFBC"> La Boite aux lettres des JDS </a> </b></li>

					
					<li><b>12</b> 👍 (36 % des visites) pour <b><a href="/geocache?id=3B7DdH6L0a"> Le CITO des JDS </a> </b></li>

					
					<li><b>8</b> 👍 (33 % des visites) pour <b><a href="/geocache?id=Gf2Ez0jzL6"> Métiers oubliés de Sophia - Chaufournier </a> </b></li>

					
					<li><b>12</b> 👍 (30 % des visites) pour <b><a href="/geocache?id=5qGZXudLh4"> Tennis </a> </b></li>

					
					<li><b>11</b> 👍 (28 % des visites) pour <b><a href="/geocache?id=pXAzqQyBHn"> Souriez vous êtes filmés ! </a> </b></li>

					
					<li><b>9</b> 👍 (28 % des visites) pour <b><a href="/geocache?id=ykQuT8etJr"> Du Calcaire à la Chaux </a> </b></li>

					
					<li><b>6</b> 👍 (24 % des visites) pour <b><a href="/geocache?id=RI1oqo0KZ1"> Entreprises de Sophia </a> </b></li>

					
					<li><b>0</b> 👍 ( % des visites) pour <b><a href="/geocache?id=hy4HDIdIC7"> La Cache Ultime </a> </b></li>

					
				</ul>
			</section>
			
		</div>
	</div>

	<% include ./partials/footer %>


</body>
</html>