<!DOCTYPE HTML>
<html>
<head>
	<title>Classement - Géocaching Jeux de Sophia 2016</title>
	<% include ./partials/head %>
</head>
<body>
	<div class="wrapper style1">

		<div id="header">
			<div class="container">

				<h1><a href="/" id="logo">Géocaching</a></h1>

				<nav id="nav">
					<ul>
						<li><a href="/">Accueil</a></li>
						<li><a href="/geocaches">Les Caches à trouver</a></li>
						<li><a href="/geocaching">Règles du jeu</a></li>
						<li><a href="/tools">Les Outils</a></li>
						<li class="active"><a href="/ranking">Classement</a></li>
					</ul>
				</nav>

			</div>
		</div>
	</div>

	<div id="main" class="wrapper style4">

		<div id="content" class="container">
			<section>
				<header class="major">

				<h2>Classement Général</h2>
					
				</header>

				<p><%= count %></p>

			</section>
			
			<section>
				<h2>Classement FTF, STF, TTF</h2>
				<br>
				
			</section>

			<section>
				<h2>Classement Ratio D/T</h2>
				<br>
				
			</section>

		</div>
	</div>

	<% include ./partials/footer %>


</body>
</html>