<!DOCTYPE HTML>
<html>
<head>
	<title>REGISTER TB - Geocaching Jeux de Sophia 2018</title>
	<% include ./partials/head %>
</head>
<body class="homepage">
	<% include ./partials/menu %>

	<div class="wrapper style3">
		<section class="container">
			<header class="major">
				<h2>Enregistrement de votre Objet Voyageur</h2>
			</header>
			<form ref="uploadForm" id="uploadForm" method="post" action="/registerTb" encType="multipart/form-data">
				
				<label for="name"><b>Nom</b> de votre Objet</label>
				<input type="text" size="50" maxlength="50" name="name" id="name" value="" style="border: solid 1px #fff;" placeholder="Le nom sera visible sur le site" required/>
				<br>
				<label for="code"><b>Code de suivi</b> situé sur le Tag en bois à attacher à votre objet</label>
				<input type="text" size="4" maxlength="4" name="code" id="code" value="" style="border: solid 1px #fff;" placeholder="Le code ne sera pas visible sur le site mais il permet d'identifier uniquement l'objet au moment des voyages" required/>
				<br>
				
				<label for="description">Description de votre Objet</label>
				<input type="text" name="description" id="description" value="" style="border: solid 1px #fff; " placeholder="La description sera visible sur le site" maxlength="1000" required/>
				<br>
				
				<label for="email" >Votre Email des Jeux de Sophia - <i>Nécessaire pour vous identifier; ne sera pas visible sur le site</i></label>
				<input type="email" name="email" id="email" value="" style="border: solid 1px #fff;" placeholder="L'email ne sera pas visible sur le site" required/>
				<br>
				<label for="pseudo">Votre Pseudo pour l'épreuve Géocaching - <i>Sera affiché sur le site pour vous représenter</i></label>
				<input type="text" name="pseudo" id="pseudo" value="" style="border: solid 1px #fff;" placeholder="Ce pseudo sera visible sur le site" required/>
				<br>
				<label for="mission"><b>La mission de votre Objet Voyageur</b></label>
				<div><i>Attention a bien choisir la mission pour qu'elle soit réalisable par les participants par le biais de photos. <br>Pensez à quelque chose de faisable et de rigolo pour le plus grand plaisir de tous.</i>
				<br>Voici quelques exemples : <br> 
				<ul>
					<li>- Etre pris en photo avec un membre du Staff des JDS</li> 
					<li>- Etre photographié sur un bateau, sur la plage<li> 
					<li>- Prendre une photo en train de lui faire un bisou, ...</li>  
				</ul>
				</div>
				<input type="text" name="mission" id="mission" value="" style="border: solid 1px #fff;" placeholder="Mission personnelle que vous choisissez, assurez-vous quelle soit réalisable dans le cadre de l'épreuve" maxlength="500" required/>
				<br>		

				<label for="pic">Une photo de votre objet (sera visible sur le site)</label>
				<input type="file" name="pic" id="pic" accept="image/*" required>
				<br>
				
			    <!-- <br><input type="submit" value="Enregistrer" name="submit" class="button alt" id="submitButton" title="Clic ici pour donner vie à ton Objet Voyageur" /> -->

			    <br><input type="submit" value="Enregistrer" name="submit" class="button alt" id="submitButton" title="Clic ici pour donner vie à ton Objet Voyageur" />
				<h3>Ouverture des créations très prochainement</h3>
				
			</form>  				 
		</section>
	</div>
	<div id="footer">
		<ul class="icons">
			<h5>Un problème avec l'enregistement de votre objet ?</h5> <br> Contactez-nous : <li><a href="mailto:geocaching@jeuxdesophia.com" class="fa fa-envelope"><span>Email</span></a></li>
		</ul>
	</div>
</body>
</html>