<!DOCTYPE HTML>
<html>
<head>
	<title>TB REGISTERED - Geocaching Jeux de Sophia 2018</title>
	<% include ./partials/head %>
</head>
<body class="homepage">
	<% include ./partials/menu %>

	<div class="wrapper style3">
		<section class="container">
			<header class="major">
			<h2><%- message %></h2>
			</header>
			<a href="/tb?id=<%= tbid %>" class="button alt">Voir la page de l'objet</a>
		</section>
	</div>

	<div id="footer">

	</div>

</body>
</html>