<!DOCTYPE HTML>
<html>
<head>
	<title>LISTE DES OBJETS - Géocaching Jeux de Sophia 2018</title>
	<% include ./partials/head %>
	<link rel="stylesheet" href="public/css/style-table.css" />
</head>
<body>

	<div class="wrapper style1">
		<div id="header">
			<div class="container">
				<h1><a href="/" id="logo">Géocaching</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Accueil</a></li>
						<li><a href="/geocaches">Les Caches à trouver</a></li>
						<li class="active"><a href="/tbs">Les objets</a></li>
						<li><a href="/geocaching">Règles du jeu</a></li>
						<li><a href="/tools">Les Outils</a></li>
						<li><a href="/ranking">Classement</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<div id="main" class="wrapper style4">
		<div id="intro" class="container">
			<section>
				<img width="120px;" align="left" src="public/images/dwarf-racing.png" style="margin-right:60px;"/>
				<h2>Les Objets Voyageurs dans la course !</h2>
				<br>
				<p><a href="/register" alt="Enregistrer son objet" style="float:right;" class="button small">&raquo; Enregister son objet voyageur</a></p>
				
				<table class="zebra">
					<thead>
						<tr>
							<th colspan=5><b>Objet</b></th>
							<th colspan=1><b>Propriétaire</b></th>
							<th><b>Localisation</b></th>
						</tr>
					</thead>
					<tbody>
						<% tbs.forEach(function(tb) { %>
						<tr>
							<td colspan=5><a href="/tb?id=<%= tb.id %>"> <%= tb.get("Name") %></a></td>
							<td colspan=1><%= tb.get("Owner") %></td>
							<td><% if (tb.get("Holder") != null) { %> Dans les mains de <%= tb.get("Holder") %> <% } %></td>
						</tr>
						<% }); %>
					</tbody>
				</table>
			</section>
		</div>
	</div>

	<% include ./partials/footer %>
</body>
</html>