<!DOCTYPE HTML>
<html>
<head>
	<title>OUTILS - Géocaching Jeux de Sophia 2019</title>
	<% include ./partials/head %>
</head>
<body>

	<% include ./partials/menu %>

	<div id="main" class="wrapper style4">
		<div class="container">
			<div class="row">

				<div id="sidebar" class="4u">
					<section>
						<header class="major">
							<h2>Android</h2>
						</header>									
						<ul class="default">
							<li><a href="https://play.google.com/store/apps/details?id=cgeo.geocaching&hl=fr">Application c:geo</a></li>
						</ul>
					</section>
					<section>
						<header class="major">
							<h2>Apple IOS</h2>
						</header>
						<ul class="default">
							<li><a href="https://itunes.apple.com/us/app/gctools-geocaching-tool-collection!/id438313105?mt=8">GC Tools</a></li>

						</ul>
					</section>
					<section>
						<header class="major">
							<h2>WindowsPhone</h2>
						</header>
						<ul class="default">
							<li><a href="http://www.windowsphone.com/fr-fr/store/app/geocachingtools/378828d6-9e3c-4904-9221-df5ca0f162f4">GeocachingTools</a></li>
							<li><a href="http://www.windowsphone.com/fr-fr/store/app/geocaching-plus/dbf554a7-8b87-4342-8c48-b426e6b9a8a4">Geocaching Plus</a></li>
						</ul>
					</section>
				</div>

				<div id="content" class="8u skel-cell-important">
					<section>
						<header class="major">
							<h2>Applications recommandées</h2>
							<span class="byline">Pour chercher les caches, nous vous conseillons quelques applis gratuites pour vos Smartphones ou tablettes</span>
						</header>
						<p><b>c:geo</b> pour Android (gratuit, sans compte geocaching nécessaire) : menu « Aller à» pour rentrer des coordonnées</p>
						<img width="850px" src="public/images/tutoandroid.png" alt="Tuto c:geo"/>
						<br><br><br>
						<p><b>GCTools</b> pour iPhone : divers outils, dont la boussole à configurer en DM (Degrés, Minutes) et non pas DMS (Degrés Minutes Secondes) qui est la configuration par défaut.</p>
						<img width="850px" src="public/images/tutoios.png" alt="Tuto GCTools"/>	
						<br><br><br>
						<p><b>GeocachingTools</b> pour WindowsPhone : divers outils, dont la boussole à configurer en DM (Degrés, Minutes)</p>

						<br>
						<p class="medium"><b>Pour valider vos trouvailles, un QR Code sera présent dans la boite : flashez-le pour enregistrer votre visite sur notre application. <br>Un logbook papier (carnet) vous permettra aussi de laisser votre nom (ou pseudo) et la date de trouvaille. <br>Merci de le remplir puis de le laisser en place pour les joueurs suivants ☺</b></p>
						<br>
						<p class="medium">Pour flasher le code présent dans la cache, vous devez installer une application mobile spécifique de lecture des QRCodes, nous vous conseillons l'application Shazam.</p>

					</section>

					<section id="wherigo">
						<header class="major">
							<h2>Caches Wherigo</h2>
							<span class="byline">Pour chercher les caches de type Wherigo, nous vous conseillons les applications gratuites suivantes. Il est nécessaire de disposer d'un compte officiel sur le site <a href="http://www.geocaching.com">Geocaching.com</a></span>
						</header>
						<p><a href="https://play.google.com/store/apps/details?id=menion.android.whereyougo&hl=fr"><b>WhereYouGo</b> sur Android</a></p>
						<br><br><br>
						<p><a href="https://itunes.apple.com/fr/app/wherigo/id385035547?mt=8"><b>Wherigo</b> sur IOS</a></p>
						<img width="850px" src="public/images/tutowherigoios.png" alt="Tuto Wherigo IOS"/>				

					</section>

					  
				</div>
			</div>
		</div>
	</div>

	<% include ./partials/footer %>

</body>
</html>