<p>
    Chers actuel/futur géocacheur,
    <br><br>
</p>

<p>
    L’épreuve Géocaching de cette 25<sup>ème</sup> édition des Jeux de Sophia 2019 approche à grands pas, et <b>débutera ce Lundi 20 mai</b> par la première des phases constituant le thème de la particularité de cette année : <b>la création de géocaches</b> !
</p>

<p>
    L’épreuve accessible 7j/7 et 24h/24, se déroule en deux parties :
</p>

<ul>
    <li>
        Du <b>20 mai au 9 juin</b> : partie dédiée à la création et la pose de géocaches par les participants de l’épreuve qui le souhaitent (facultatif donc, mais des points récompenseront les poseurs dans le classement).
        Avec la possibilité d’en réaliser une en équipe si vous le souhaitez, contactez-nous pour cela.
        Si vous êtes un géocacheur aguerri, vous pouvez aussi nous contacter directement pour proposer d'autres types de géocaches (Webcam, CITO, Wherigo, ...)
        <br><br>
    </li>
    <li>
        Du <b>27 mai au 16 juin</b> : partie habituelle où tous les participants de l’épreuve vont pouvoir chercher les caches publiées et posées par les autres participants lors de la première partie et au fil des jours jusqu’à la fin de l’épreuve (les caches apparaîtront sur le site de l’épreuve).
    </li>
</ul>
<br>

<p>
    Les règles de l’épreuve sont expliquées sur la page du règlement : <a href="https://www.geocaching-jds.fr/geocaching">https://www.geocaching-jds.fr/geocaching</a>
</p>
<br>
<p>
    <h3>Pour les participants désireux d’avoir des explications plus concrètes sur l’épreuve, l’équipe tiendra un stand près de l’épreuve du cross le mardi 21 mai (à partir de 17h30), au Stade Des Bouillides :
    <a href="https://www.geocaching-jds.fr/geocache?id=mF4iEjwTP9">https://www.geocaching-jds.fr/geocache?id=mF4iEjwTP9</a></h3>
    <br>C'est aussi un EVENT officiel géocaching ;-) <a href="https://coord.info/GC8727Z">https://coord.info/GC8727Z</a>
    <br>
</p>
<hr>
<br>
<p>
    <h2>Pour la première partie de l'épreuve, la création de votre propre cache vous est permise depuis le lien suivant (conservez-le, il est pour vous uniquement): <br>
        <b><a href="{ADMIN_LINK}">{ADMIN_LINK}</a></b>
    </h2>
    <br>
</p>
<hr>
<br>
<p>
    C'est parti !<br>
    À vous de jouer !
</p>

<p>
    Cistude et Marius
    <br>Pour nous contacter : geocaching@jeuxdesophia.com
    <br>Site web de l’épreuve : <a href="https://www.geocaching-jds.fr/">https://www.geocaching-jds.fr/</a>
</p>
