<p>
    Chers actuels/futurs géocacheurs,
    <br><br>
</p>


<p>
    L’épreuve Géocaching de cette 25<sup>ème</sup> édition des Jeux de Sophia 2019 approche à grands pas, et <b>débutera ce Lundi 20 mai</b> par la première des phases constituant le thème de la particularité de cette année : la création de géocaches !
</p>

<p>
    L’épreuve, 7j/7 et 24h/24, se déroule en deux parties :
</p>

<ul>
    <li>
        Du 20 mai au 9 juin : partie dédiée à la création et la pose de géocaches par les participants de l’épreuve qui le souhaitent (facultatif donc). Avec la possibilité d’en réaliser une en équipe si vous préférez.
        <br><br>
    </li>
    <li>
        Du 27 mai au 16 juin : partie habituelle où tous les participants de l’épreuve vont pouvoir chercher les caches publiées et posées par les autres participants lors de la première partie et au fil des jours jusqu’à la fin de l’épreuve (les caches apparaîtront sur le site de l’épreuve).
    </li>
</ul>
<br>

<p>
    Les règles de l’épreuve sont expliquées sur la page du règlement : <a href="https://www.geocaching-jds.fr/geocaching">https://www.geocaching-jds.fr/geocaching</a>
</p>

<p>
    Pour les participants désireux d’avoir des explications plus concrètes sur l’épreuve, l’équipe tiendra un stand près de l’épreuve du cross le mardi 21 mai, au Parc Des Bouillides :
    <a href="https://www.geocaching-jds.fr/geocache?id=mF4iEjwTP9">https://www.geocaching-jds.fr/geocache?id=mF4iEjwTP9</a>; L’équipe sera aussi présente à la  SophiAdventure le 6 Juin.
    <br><br>
</p>

<p>
    La création de votre propre cache vous est permise depuis le lien qui suit, ne le perdez pas et ne le communiquez à personne : <br>
    =&gt; <b><a href="{ADMIN_LINK}">{ADMIN_LINK}</a></b>
    <br>
    <br>
</p>

<p>
    Site web de l’épreuve : <a href="https://www.geocaching-jds.fr/">https://www.geocaching-jds.fr/</a><br>
    Site web des jeux de Sophia : <a href="https://jeuxdesophia.com/">https://jeuxdesophia.com/</a>
</p>

<p>
    Vous souhaitant de belles découvertes et un bon divertissement,<br>
    À bientôt,
</p>

<p>
    Cistude et Marius
</p>
