	<!-- Footer -->
		<div id="footer">
			<section class="container">
				<header class="major">
					<h2>Pour nous contacter</h2>
					<span class="byline">Venez nous rencontrer le dimanche 11 juin à 14h lors de l'event - <a href="https://coord.info/GC7601N">Histoires de caches au Parc des Bouillides à Sophia</a></span>
				</header>
				<ul class="icons">
					<li class="active"><a href="https://www.facebook.com/jeuxdesophia" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="https://twitter.com/jeuxdesophia" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="mailto:geocaching@jeuxdesophia.com" class="fa fa-envelope"><span>Email</span></a></li>
					<li><a href="http://jeuxdesophia.com/jcms/rda_6290/fr/geocaching" class="fa fa-calendar"><span>Site des Jeux</span></a></li>
				</ul>
				<hr />
			</section>
			
			<!-- Copyright -->
				<div id="copyright">
					23éme édition des Jeux de Sophia <br>Epreuve Géocaching - 29 mai au 22 juin 2017
					<p>Ce site n'est pas un site officiel Geocaching.com</p>		
				</div>			
		</div>
