<!-- Footer -->
<div id="footer">
	<section class="container">
		<header class="major">
			<h2>Pour nous contacter</h2>
			<span class="byline">Permanences les <b>mardi 15</b> et <b>jeudi 17 mai</b> entre <b>12h et 13h45</b> - <b>Place Bermond</b></span>
			<span class="byline">Venez nous rencontrer le <b>dimanche 3 juin</b> entre 12h et 17h lors de <br>
			<a href="/geocache?id=lgIoS5mYDV">l'Event à la plage - Yacht Club de Villeneuve Loubet</a></span>
		</header>
		<ul class="icons">
			<li class="active"><a href="https://www.facebook.com/jeuxdesophia" class="fa fa-facebook"><span>Facebook</span></a></li>
			<li><a href="https://twitter.com/jeuxdesophia" class="fa fa-twitter"><span>Twitter</span></a></li>
			<li><a href="mailto:geocaching@jeuxdesophia.com" class="fa fa-envelope"><span>Email</span></a></li>
			<li><a href="http://jeuxdesophia.com/jcms/rda_6290/fr/geocaching" class="fa fa-calendar"><span>Site des Jeux</span></a></li>
		</ul>
		<hr />
	</section>
	
	<!-- Copyright -->
		<div id="copyright">
			24éme édition des Jeux de Sophia <br>Epreuve Géocaching - 19 mai au 8 juin 2018
			<p>Ce site n'est pas un site officiel Geocaching.com</p>		
		</div>			
</div>
