	<!-- Footer -->
		<div id="footer">
			<section class="container">
				<header class="major">
					<h2>Pour nous contacter</h2>
					<span class="byline">Venez nous rencontrer les mardi 31 mai, jeudi 2, mardi 14 et jeudi 16 juin 2016 de 12 à 13h - <a href="https://www.google.fr/maps/search/place+bermond+sophia+antipolis/@43.6220192,7.0397204,20z">Place Bermond à Sophia</a></span>
				</header>
				<ul class="icons">
					<li class="active"><a href="https://www.facebook.com/jeuxdesophia" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="https://twitter.com/jeuxdesophia" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="mailto:geocaching@jeuxdesophia.com" class="fa fa-envelope"><span>Email</span></a></li>
					<li><a href="http://jeuxdesophia.com/jcms/rda_6290/fr/geocaching" class="fa fa-calendar"><span>Site des Jeux</span></a></li>
				</ul>
				<hr />
			</section>
			
			<!-- Copyright -->
				<div id="copyright">
					22éme édition des Jeux de Sophia <br>Epreuve Géocaching - 31 mai au 18 juin 2016
					<p>Ce site n'est pas un site officiel Geocaching.com</p>		
				</div>			
		</div>
