<!-- Footer -->
<div id="footer">
	<section class="container">
		<header class="major">
			<h2>Pour nous contacter</h2>
			<span class="byline">Venez nous rencontrer le <b>mardi 21 mai</b> entre 17h30 et 20h30 lors de <br>
			<a href="/geocache?id=mF4iEjwTP9">l'Event de lancement - Stade des Bouillides</a></span>
		</header>
		<ul class="icons">
			<li class="active"><a href="https://www.facebook.com/jeuxdesophia" class="fa fa-facebook"><span>Facebook</span></a></li>
			<li><a href="https://twitter.com/jeuxdesophia" class="fa fa-twitter"><span>Twitter</span></a></li>
			<li><a href="mailto:geocaching@jeuxdesophia.com" class="fa fa-envelope"><span>Email</span></a></li>
			<li><a href="http://jeuxdesophia.com/jcms/rda_6290/fr/geocaching" class="fa fa-calendar"><span>Site des Jeux</span></a></li>
		</ul>
		<hr />
	</section>
	
	<!-- Copyright -->
		<div id="copyright">
			25éme édition des <a href="https://www.jeuxdesophia.com">Jeux de Sophia</a> <br>Épreuve Géocaching - 20 mai au 16 juin 2019
			<p>Ce site n'est pas un site officiel Geocaching.com</p>		
		</div>			
</div>
